@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            language: 'zh-CN',/*加载日历语言包，可自定义*/
            weekStart: 1,
            todayBtn: 1,
            todayHighlight: 1,
            pickerPosition: "bottom-left",
            startView: 2,
            minView: 2,
            maxView: 4,
            forceParse: 0
        });

        // 保证结束日期不能小于开始日期
        $("#endTime input").focus(function () {
            $('#endTime').datetimepicker('setStartDate', $("#startTime input").val());
        });
    });

    app.controller('EnergyBillCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "UserID": "",
            "RealName": "",
            "StartTime": "",
            "EndTime": "",
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        getInfos(params, true);

        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/userenergybills",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        // 搜索
        $scope.search = function () {
            params.UserID = $("#UserID").val();
            params.RealName = $("#RealName").val();
            params.StartTime = $scope.StartTime;
            params.EndTime = $scope.EndTime;
            params.PageIndex = 1;
            getInfos(params, true);
        };

        // 导出报表
        $scope.exportReport = function () {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/export/userenergybills",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("业主能耗缴费历史账单导出成功！");
                location.href = location.origin + '/' + data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };
    });
</script>
<div ng-controller="EnergyBillCtrl" class="content-div">
    <table class="table table-hover">
        <caption class="caption-style">
            <h3>能耗管理</h3>
            <div class="search-top">
                <ul>
                    <li class="search-li">用户UUID:<input type="text" id="UserID" class="form-control input-md input-search"></li>
                    <li class="search-li">业主姓名:<input type="text" id="RealName" class="form-control input-md input-search"></li>
                </ul>
                <div class="col-lg-3 search-lg-div">
                    <div class="input-group date form_datetime search-data" id="startTime">
                        <input class="form-control" ng-model="StartTime" data-date-format="yyyy-mm-dd" placeholder="请输入开始日期">
                        <span class="input-group-addon input_all_btn"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-lg-3 search-lg-div">
                    <div class="input-group date form_datetime search-data" id="endTime">
                        <input class="form-control" ng-model="EndTime" data-date-format="yyyy-mm-dd" placeholder="请输入结束日期">
                        <span class="input-group-addon input_all_btn"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="input-group search-div">
                    <button class="search-btn" title="搜索" ng-click="search()">搜索</button>
                    <button class="search-btn" title="导出报表" ng-click="exportReport()">导出报表</button>
                </div>
            </div>
        </caption>
        <thead class="energy-th">
            <tr style="display:block;">
                <th class="thead-th">用户UUID</th>
                <th>业主姓名</th>
                <th>结算时间</th>
                <th>设备名称</th>
                <th>设备累计读数</th>
                <th>设备结算能耗</th>
                <th>设备结算价格</th>
                <th>总读数</th>
                <th>最近结算总能耗</th>
                <th>最近结算总价格</th>
            </tr>
        </thead>
        <tbody class="energy-tbody">
            <tr ng-cloak ng-repeat="item in Items" style="display:block;">
                <td rowspan="{{item.DeviceEnergies.length}}">{{item.UserID}}</td>
                <td rowspan="{{item.DeviceEnergies.length}}">{{item.RealName}}</td>
                <td rowspan="{{item.DeviceEnergies.length}}">{{item.DateTime}}</td>
                <td rowspan="{{item.DeviceEnergies.length}}" colspan="4" class="td-style">
                    <table class="table table-hover tab2">
                        <tr ng-cloak ng-repeat="device in item.DeviceEnergies" class="success">
                            <td>{{device.DeviceName}}</td>
                            <td>{{device.TotolValue}}</td>
                            <td>{{device.Value}}</td>
                            <td>{{device.Money}}</td>
                        </tr>
                    </table>
                </td>
                <td rowspan="{{item.DeviceEnergies.length}}">{{item.SumTotolValue}}</td>
                <td rowspan="{{item.DeviceEnergies.length}}">{{item.SumValue}}</td>
                <td rowspan="{{item.DeviceEnergies.length}}">{{item.SumMoney}}</td>
            </tr>
        </tbody>
    </table>
    <div class="width center">
        <div id="page4" class="m-pagination m-center"></div>
    </div>
</div>