@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('CreditCtrl', function ($scope, $http) {
        getInfo();
        
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/credits/" + getQueryString("uuid")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        $scope.modify = function () {
            var params = {
                "UUID":getQueryString("uuid"),
                "Name": $("#Name").val(),
                "Description": $("#Description").val(),
                "MinScore": $("#MinScore").val(),
                "MaxScore": $("#MaxScore").val(),
                "Arrears": convertMoney($("#Arrears").val()),
                "Remark": $("#Remark").val()
            };
            $http({
                method: "put",
                withCredentials: true,
                url: "../api/credits/" + getQueryString("uuid"),
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("信用等级信息修改成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../basic/list";
                    } else {
                        window.location.href = "../basic/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };
    });
</script>
<div ng-controller="CreditCtrl" class="content-third-div">
    <form role="form">
        <div class="form-group">
            <label for="Name">等级名称</label>
            <input type="text" class="form-control input-text" id="Name" name="Name" value="{{Item.Name}}" placeholder="请输入等级名称！">
        </div>
        <div class="form-group">
            <label for="Description">等级描述</label>
            <input type="text" class="form-control input-text" id="Description" name="Description" value="{{Item.Description}}" placeholder="请输入等级描述！" />
        </div>
        <div class="form-group">
            <label for="MinScore">最小积分</label>
            <input type="number" class="form-control input-text" min="0" id="MinScore" name="MinScore" value="{{Item.MinScore}}" placeholder="请输入最小积分！">
        </div>
        <div class="form-group">
            <label for="MaxScore">最大积分</label>
            <input type="number" class="form-control input-text" min="0" id="MaxScore" name="MaxScore" value="{{Item.MaxScore}}" placeholder="请输入最大积分！">
        </div>
        <div class="form-group">
            <label for="Arrears">可欠费金额</label>
            <input type="text" class="form-control input-text" id="Arrears" name="Arrears" value="{{Item.Arrears}}" placeholder="请输入可欠费金额！">
        </div>
        <div class="form-group">
            <label for="Remark">缴费信用</label>
            <input type="text" class="form-control input-text" id="Remark" name="Remark" value="{{Item.Remark}}" placeholder="请输入欠费历史！">
        </div>
    </form>
    <button class="btn btn-primary btn-style btn-top btn-special" ng-click="modify()">修改</button><br />
</div>