@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('LadderCtrl', function ($scope, $http) {
        $scope.DeviceTypeName = "请选择设备类型";

        getDeviceTypes();

        // 获取设备类型信息列表
        function getDeviceTypes() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devicetypes"
            }).success(function (data, status, headers, config) {
                $scope.DeviceTypeItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 选择设备类型
        $scope.selectDeviceType = function (uuid, typeName) {
            $scope.DeviceTypeID = uuid;
            $scope.DeviceTypeName = typeName;
        }

        // 添加阶梯单价
        $scope.add = function () {
            var params = {
                "TypeID":$scope.DeviceTypeID,
                "Name": $("#Name").val(),
                "Description": $("#Description").val(),
                "MinEnergy": $("#MinEnergy").val(),
                "MaxEnergy": $("#MaxEnergy").val(),
                "Price": $("#Price").val(),
                "Remark": $("#Remark").val()
            };
            $http({
                method: "post",
                withCredentials: true,
                url: "../api/ladders",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("阶梯单价添加成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../basic/list";
                    } else {
                        window.location.href = "../basic/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };
    });
</script>
<div ng-controller="LadderCtrl" class="content-second-div">
    <form role="form" class="form-div">
        <div class="form-group" style="width:100%;">
            <label>设备类型选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;">
                        {{DeviceTypeName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in DeviceTypeItems">
                            <a href="#" ng-click="selectDeviceType(item.UUID,item.Name)">{{item.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group group-style">
            <label for="Name">名称</label>
            <input type="text" class="form-control input-text" id="Name" name="Name" placeholder="请输入名称！">
        </div>
        <div class="form-group group-style">
            <label for="MinEnergy">能量值下限</label>
            <input type="text" class="form-control input-text" id="MinEnergy" name="MinEnergy" placeholder="请输入能量值下限！">
        </div>
        <div class="form-group group-style">
            <label for="MaxEnergy">能量值上限</label>
            <input type="text" class="form-control input-text" id="MaxEnergy" name="MaxEnergy" placeholder="请输入能量值上限！">
        </div>
        <div class="form-group group-style">
            <label for="Price">单价</label>
            <input type="text" class="form-control input-text" id="Price" name="Price" placeholder="请输入单价！">
        </div>
        <div class="form-group group-style">
            <label for="Description">描述</label>
            <textarea cols="30" rows="3" class="form-control textarea-text" id="Description" name="Description" placeholder="请输入描述！"></textarea>
        </div>
        <div class="form-group group-style">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="3" class="form-control textarea-text" id="Remark" name="Remark" placeholder="请输入备注信息！"></textarea>
        </div>
    </form>
    <button class="btn btn-primary btn-style btn-top btn-special" ng-click="add()">添加</button><br />
</div>