@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('AdminCtrl', function ($scope, $http) {
        $scope.RoleName = "请选择角色名称";

        getRoleInfo();

        // 获取所有角色信息
        function getRoleInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/roles"
            }).success(function (data, status, headers, config) {
                $scope.RoleItems = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 选择角色
        $scope.selectRole = function (id, name) {
            $scope.RoleID = id;
            $scope.RoleName = name;
        }

        $('form').on('submit', function (event) {
            var params = {
                "RoleID": $scope.RoleID,
                "UserName": $("#UserName").val(),
                "Password": $("#Password").val(),
                "RealName": $("#RealName").val(),
                "Phone": $("#Phone").val(),
                "Remark": $("#Remark").val()
            };
            $http({
                method: "post",
                withCredentials: true,
                url: "../api/admins",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("新账号添加成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../basic/list";
                    } else {
                        window.location.href = "../basic/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        });
    });
</script>
<div ng-controller="AdminCtrl" class="content-third-div" style="min-height:350px;">
    <form role="form">
        <div class="form-group">
            <label for="UserName">账号名称</label>
            <input type="text" class="form-control input-text" id="UserName" name="UserName" placeholder="请输入账号名称！" required>
        </div>
        <div class="form-group">
            <label for="Password">账号密码</label>
            <input type="password" class="form-control input-text" id="Password" name="Password" placeholder="请输入账号密码！" required>
        </div>
        <div class="form-group">
            <label for="RealName">真实姓名</label>
            <input type="text" class="form-control input-text" id="RealName" name="RealName" placeholder="请输入真实姓名！">
        </div>
        <div class="form-group">
            <label for="Phone">电话号码</label>
            <input type="tel" class="form-control input-text" id="Phone" name="Phone" placeholder="请输入电话号码！">
        </div>
        <div class="checkbox form-group">
            <label>角色选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;">
                        {{RoleName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in RoleItems">
                            <a href="#" ng-click="selectRole(item.ID,item.Name)">{{item.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="3" maxlength="200" class="form-control textarea-text" id="Remark" name="Remark" placeholder="请输入备注！"></textarea>
        </div>
        <button class="btn btn-primary btn-style btn-top btn-special" type="submit">添加</button><br />
    </form>
</div>