@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('BasicCtrl', function ($scope, $http) {
        getAdminInfos();
        getDeviceTypes();
        getCredits();
        getLadders();

        // 获取管理员信息列表
        function getAdminInfos() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/admins"
            }).success(function (data, status, headers, config) {
                $scope.AdminItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 删除管理员信息
        $scope.deleteAdmin = function (uuid) {
            ShowConfirmModal("确定要删除该账号吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/admins/" + uuid
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("账号删除成功！", function () {
                        getAdminInfos();
                    });
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 获取设备类型信息
        function getDeviceTypes() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devicetypes"
            }).success(function (data, status, headers, config) {
                $scope.DeviceTypeItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 删除设备类型
        $scope.deleteDeviceType = function (uuid) {
            ShowConfirmModal("确定要删除该设备类型吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/devicetypes/" + uuid
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("设备类型删除成功！", function () {
                        getDeviceTypes();
                    });
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 获取信用等级信息列表
        function getCredits() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/credits"
            }).success(function (data, status, headers, config) {
                $scope.CreditItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 删除信用等级
        $scope.deleteCredit = function (uuid) {
            ShowConfirmModal("确定要删除该信用等级吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/credits/" + uuid
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("信用等级删除成功！", function () {
                        getCredits();
                    });
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 获取阶梯单价信息列表
        function getLadders() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/ladders"
            }).success(function (data, status, headers, config) {
                $scope.LadderItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 删除阶梯单价
        $scope.deleteLadder = function (uuid) {
            ShowConfirmModal("确定要删除该阶梯单价吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/ladders/" + uuid
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("阶梯单价删除成功！", function () {
                        getLadders();
                    });
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>
<div ng-controller="BasicCtrl" class="content-div">
    <div style="width:100%;height:500px;background-color:#fff;">
        @*账号管理*@
        <div style="width:50%;height:100%;float:left;">
            <div class="top-basic">
                <strong>账号管理</strong>
            </div>
            <div class="container-fluid">
                <div class="row row-style">
                    <div class="search-div" style="float:right;padding-right:10px;">
                        <button id="btnAdminAdd" title="添加账号" url="admin/add" class="btn btn-success btn-top" 
                                onclick="popDefaultWnd(this.id,'添加账号')">
                            <i class=" fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">用户名</th>
                            <th width="10%">真实姓名</th>
                            <th width="15%">手机号码</th>
                            <th width="15%">是否可控</th>
                            <th width="25%">时间</th>
                            <th width="11%">备注</th>
                            <th width="14%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak ng-repeat="item in AdminItems">
                            <td>{{item.UserName}}</td>
                            <td>{{item.RealName}}</td>
                            <td>{{item.Phone}}</td>
                            <td>{{item.HasControl}}</td>
                            <td>{{item.CreateTime}}</td>
                            <td>{{item.Remark}}</td>
                            <td>
                                <button type="button" id="btnAdminModify{{$index+1}}" url="admin/modify?uuid={{item.UUID}}" class="btn btn-warning btn-style"
                                        onclick="popDefaultWnd(this.id,'修改账号信息')">
                                    修改
                                </button>
                                <button type="button" class="btn btn-danger btn-style" ng-click="deleteAdmin(item.UUID)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*设备类型*@
        <div style="width:50%;height:100%;float:left;">
            <div class="top-basic">
                <strong>设备类型</strong>
            </div>
            <div class="container-fluid">
                <div class="row row-style">
                    <div class="search-div" style="float:right;padding-right:10px;">
                        <button id="btnDeviceTypeAdd" title="添加设备类型" url="devicetype/add" class="btn btn-success btn-top"
                                onclick="popDefaultWnd(this.id, '添加设备类型')">
                            <i class=" fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">名称</th>
                            <th width="8%">描述</th>
                            <th width="11%">单价1</th>
                            <th width="11%">单价2</th>
                            <th width="11%">单价3</th>
                            <th width="11%">单价4</th>
                            <th width="11%">单价5</th>
                            <th width="25%">时间</th>
                            <th width="8%">备注</th>
                            <th width="14%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak ng-repeat="item in DeviceTypeItems">
                            <td>{{item.Name}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.Price1}}</td>
                            <td>{{item.Price2}}</td>
                            <td>{{item.Price3}}</td>
                            <td>{{item.Price4}}</td>
                            <td>{{item.Price5}}</td>
                            <td>{{item.CreateTime}}</td>
                            <td>{{item.Remark}}</td>
                            <td>
                                <button type="button" id="btnDeviceTypeModify{{$index+1}}" url="devicetype/modify?uuid={{item.UUID}}" 
                                        class="btn btn-warning btn-style" onclick="popDefaultWnd(this.id,'修改设备类型')">
                                    修改
                                </button>
                                <button type="button" class="btn btn-danger btn-style" ng-click="deleteDeviceType(item.UUID)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="width:100%;height:500px;">
        @*信用等级*@
        <div style="width:50%;height:100%; background-color:#FFEE99;float:left;">
            <div class="top-basic">
                <strong>信用等级</strong>
            </div>
            <div class="container-fluid">
                <div class="row row-style">
                    <div class="search-div" style="float:right;padding-right:10px;">
                        <button id="btnCreditAdd" title="添加信用等级" url="credit/add" class="btn btn-success btn-top"
                                onclick="popDefaultWnd(this.id, '添加信用等级')">
                            <i class=" fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">名称</th>
                            <th width="8%">描述</th>
                            <th width="18%">最小积分</th>
                            <th width="18%">最大积分</th>
                            <th width="18%">可欠费金额</th>
                            <th width="25%">时间</th>
                            <th width="9%">备注</th>
                            <th width="14%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak ng-repeat="item in CreditItems">
                            <td>{{item.Name}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.MinScore}}</td>
                            <td>{{item.MaxScore}}</td>
                            <td>{{item.Arrears}}</td>
                            <td>{{item.CreateTime}}</td>
                            <td>{{item.Remark}}</td>
                            <td>
                                <button type="button" id="btnCreditModify{{$index+1}}" url="credit/modify?uuid={{item.UUID}}"
                                        class="btn btn-warning btn-style" onclick="popDefaultWnd(this.id,'修改信用等级')">
                                    修改
                                </button>
                                <button type="button" class="btn btn-danger btn-style" ng-click="deleteCredit(item.UUID)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*阶梯单价*@
        <div style="width:50%;height:100%;float:left;">
            <div class="top-basic">
                <strong>阶梯单价</strong>
            </div>
            <div class="container-fluid">
                <div class="row row-style">
                    <div class="search-div" style="float:right;padding-right:10px;">
                        <button id="btnLadderAdd" title="添加阶梯单价" url="ladder/add" class="btn btn-success btn-top"
                                onclick="popDefaultWnd(this.id, '添加阶梯单价')">
                            <i class=" fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">设备类型</th>
                            <th width="8%">名称</th>
                            <th width="18%">描述</th>
                            <th width="12%">能量值下限</th>
                            <th width="12%">能量值上限</th>
                            <th width="12%">单价</th>
                            <th width="25%">时间</th>
                            <th width="9%">备注</th>
                            <th width="14%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak ng-repeat="item in LadderItems">
                            <td>{{item.TypeName}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.MinEnergy}}</td>
                            <td>{{item.MaxEnergy}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.CreateTime}}</td>
                            <td>{{item.Remark}}</td>
                            <td>
                                <button type="button" id="btnLadderModify{{$index+1}}" url="ladder/modify?uuid={{item.UUID}}"
                                        class="btn btn-warning btn-style" onclick="popDefaultWnd(this.id, '修改阶梯单价')">
                                    修改
                                </button>
                                <button type="button" class="btn btn-danger btn-style" ng-click="deleteLadder(item.UUID)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>