@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('BasicCtrl', function ($scope, $http) {
        
    });
</script>
<div ng-controller="BasicCtrl" class="content-div" style="padding-top:10px;">
    
</div>