@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('HomeCtrl', function ($scope, $http) {
        getBetterRooms();
        getWorseRooms();

        function getBetterRooms() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/recommendbills/1"
            }).success(function (data, status, headers, config) {
                $scope.BetterItems = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        function getWorseRooms() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/recommendbills/0"
            }).success(function (data, status, headers, config) {
                $scope.WorseItems = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 各建筑能耗对比饼状图
        var buildingChart = echarts.init(document.getElementById('building'));
        buildingChart.clear();
        buildingChart.showLoading({
            text: '正在努力的读取各建筑能耗数据...',
        });
        buildingStatis();

        function buildingStatis() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/buildingstatis"
            }).success(function (data, status, headers, config) {
                buildingChart.hideLoading();
                var option = {
                    title: {
                        text: '建筑能耗对比图',
                        x: 'center'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: data.BuildingNos
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: false },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    series: [
                        {
                            name: '楼房能耗',
                            type: 'pie',
                            center: ['50%', '55%'],
                            data: (function () {
                                var result = [];
                                for (var index in data.BuildingNos) {
                                    var buildingNo = data.BuildingNos[index];
                                    result.push({
                                        value: data.Values[index],
                                        name: buildingNo
                                    });
                                }
                                return result;
                            })(),
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };

                buildingChart.setOption(option);
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 各设备类型能耗对比图
        var typeChart = echarts.init(document.getElementById('devicetype'));
        typeChart.clear();
        typeChart.showLoading({
            text: '正在努力的读取各设备类型数据...',
        });
        deviceTypeStatis();

        function deviceTypeStatis() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/typestatis"
            }).success(function (data, status, headers, config) {
                typeChart.hideLoading();
                var option = {
                    title: {
                        text: '设备类型能耗对比图',
                        x: 'center'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: data.DeviceTypes
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: false },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    series: [
                        {
                            name: '设备类型能耗',
                            type: 'pie',
                            center: ['60%', '55%'],
                            data: (function () {
                                var result = [];
                                for (var index in data.DeviceTypes) {
                                    var type = data.DeviceTypes[index];
                                    result.push({
                                        value: data.Values[index],
                                        name: type
                                    });
                                }
                                return result;
                            })(),
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };

                typeChart.setOption(option);
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 建筑历史能耗时间对比图
        var monthChart = echarts.init(document.getElementById('montnEp'));
        monthChart.clear();
        monthChart.showLoading({
            text: '正在努力的读取建筑历史能耗时间数据...',
        });
        monthStatis();

        function monthStatis() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/monthstatis"
            }).success(function (data, status, headers, config) {
                monthChart.hideLoading();
                var option = {
                    title: {
                        text: '历史能耗数据趋势图',
                        x: 'center'
                    },
                    legend: {                                   // 图例配置
                        left: 'left',
                        data: data.BuildingNos
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: false },
                            magicType: { show: true, type: ['line', 'bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: false,                          // 是否启用拖拽重计算特性，默认关闭
                    tooltip: {                                  // 气泡提示配置
                        trigger: 'item',                        // 触发类型，默认数据触发，可选为：'axis','item'
                    },
                    xAxis: [                                    // 直角坐标系中横轴数组
                        {
                            type: 'category',                   // 坐标轴类型，横轴默认为类目轴，数值轴则参考yAxis说明
                            data: data.Timelines
                        }
                    ],
                    yAxis: [                                    // 直角坐标系中纵轴数组
                        {
                            type: 'value'                       // 坐标轴类型，纵轴默认为数值轴，类目轴则参考xAxis说明
                        }
                    ],
                    series: (function () {
                        var result = [];
                        for (var index in data.BuildingNos) {
                            var buildingNo = data.BuildingNos[index];
                            result.push({
                                name: buildingNo,                            // 系列名称
                                type: 'bar',                             // 图表类型，折线图line、散点图scatter、柱状图bar、饼图pie、雷达图radar
                                smooth: true,
                                data: data.Valuelines[index]
                            });
                        }
                        return result;
                    })()
                };
                monthChart.setOption(option);
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 建筑能耗资金支出对比图
        var billChart = echarts.init(document.getElementById('bill'));
        billChart.clear();
        billChart.showLoading({
            text: '正在努力读取建筑能耗资金支出数据...',
        });
        billStatis();
        function billStatis() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/realtimefundstatis"
            }).success(function (data, status, headers, config) {
                $scope.Balance = data.Balance;
                $scope.Expend = data.Expend;
                $scope.Percent = data.Percent;
                billChart.hideLoading();
                var option = {
                    title: {
                        text: '建筑能耗资金支出对比图',
                        x: 'right'
                    },
                    legend: {                                   // 图例配置
                        left: 'left',
                        data: ['账号总余额', '实时总支出']
                    },
                    calculable: false,                          // 是否启用拖拽重计算特性，默认关闭
                    tooltip: {                                  // 气泡提示配置
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data: data.BuildingNos
                    },
                    series: [
                        {
                            name: '账号总余额',
                            type: 'bar',
                            data: data.TotalBalances
                        },
                        {
                            name: '实时总支出',
                            type: 'bar',
                            data: data.TotalExpends
                        }
                    ]
                };
                billChart.setOption(option);
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<div ng-controller="HomeCtrl" style="width:100%;height:100%;">
    <div class="energy-photo">
        <div class="energy-content">
            <div id="building" class="building-div">

            </div>
            <div id="devicetype" class="devicetype-div">

            </div>
        </div>
        <div class="bill-div">
            <div style="width:100%;height:15%;border-bottom:2px solid #6699cc;">
                <span>账户总余额:{{Balance}}</span>&nbsp;
                <span>实时总支出:{{Expend}}</span>&nbsp;
                <span>支出占用百分比:{{Percent}}</span>
            </div>
            <div id="bill" style="width:100%;height:85%;">

            </div>
        </div>
        <div id="montnEp" class="montnEp-div">

        </div>
    </div>
    <div class="user-class">
        <div class="user-top">
            <span>优秀用户</span>
            <ul>
                <li ng-cloak ng-repeat="BetterItem in BetterItems">
                    <a href="~/bill/cube?buildingNo={{BetterItem.BuildingNo}}&roomNo={{BetterItem.RoomNo}}">
                        >&nbsp;{{BetterItem.RoomNo}}&nbsp;&nbsp;[{{BetterItem.RealName}}]
                    </a>
                </li>
            </ul>
            <a href="~/bill/cube?flag=1">更多&nbsp;>></a>
        </div>
        <div class="user-down">
            <span>欠费用户</span>
            <ul>
                <li ng-cloak ng-repeat="WorseItem in WorseItems">
                    <a href="~/bill/cube?buildingNo={{WorseItem.BuildingNo}}&roomNo={{WorseItem.RoomNo}}">
                        >&nbsp;{{WorseItem.RoomNo}}&nbsp;&nbsp;[{{WorseItem.RealName}}]
                    </a>
                </li>
            </ul>
            <a href="~/bill/cube?flag=0">更多&nbsp;>></a>
        </div>
    </div>
</div>