@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('PointCtrl', function ($scope, $http) {
        getInfo();

        // 获取点位信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/points/" + getQueryString("id")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
                if ($scope.Item.IsArchive) {
                    $("#IsArchive").attr("checked", "true");
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 修改点位
        $scope.modify = function () {
            var params = {
                "ID": getQueryString("id"),
                "PointID": $("#PointID").val(),
                "Protocol": $("#Protocol").val(),
                "Floor": $("#Floor").val(),
                "Scope": $("#Scope").val(),
                "DeviceName": $("#DeviceName").val(),
                "PhyAddr": $("#PhyAddr").val(),
                "ItemID": $("#ItemID").val(),
                "ItemName": $("#ItemName").val(),
                "ItemDescription": $("#ItemDescription").val(),
                "ValueFunc": $("#ValueFunc").val(),
                "MinValue": $("#MinValue").val(),
                "MaxValue": $("#MaxValue").val(),
                "Type": $("#Type").val(),
                "Unit": $("#Unit").val(),
                "IsArchive": $("#IsArchive").is(":checked"),
                "ArchiveInterval": $("#ArchiveInterval").val(),
                "ParentID": $("#ParentID").val(),
                "Price": convertMoney($("#Price").val())
            };
            $http({
                method: "put",
                withCredentials: true,
                url: "../api/points/" + getQueryString("id"),
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("点位信息修改成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../point/list";
                    } else {
                        window.location.href = "../point/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };
    });
</script>
<div ng-controller="PointCtrl" class="content-div">
    <form role="form" class="form-div">
        <div class="form-group group-style">
            <label for="PointID">点位ID</label>
            <input type="text" class="form-control input-text" id="PointID" name="PointID" value="{{Item.PointID}}" placeholder="请输入点位ID！">
        </div>
        <div class="form-group group-style">
            <label for="Protocol">采集协议</label>
            <input type="text" class="form-control input-text" id="Protocol" name="Protocol" value="{{Item.Protocol}}" placeholder="请输入采集协议！">
        </div>
        <div class="form-group group-style">
            <label for="Floor">楼层</label>
            <input type="text" class="form-control input-text" id="Floor" name="Floor" value="{{Item.Floor}}" placeholder="请输入楼层！">
        </div>
        <div class="form-group group-style">
            <label for="Scope">归属设备域</label>
            <input type="text" class="form-control input-text" id="Scope" name="Scope" value="{{Item.Scope}}" placeholder="请输入归属设备域！">
        </div>
        <div class="form-group group-style">
            <label for="DeviceName">仪器名称</label>
            <input type="text" class="form-control input-text" id="DeviceName" name="DeviceName" value="{{Item.DeviceName}}" placeholder="请输入仪器名称！">
        </div>
        <div class="form-group group-style">
            <label for="PhyAddr">物理地址</label>
            <input type="text" class="form-control input-text" id="PhyAddr" name="PhyAddr" value="{{Item.PhyAddr}}" placeholder="请输入物理地址！">
        </div>
        <div class="form-group group-style">
            <label for="ItemID">组ID</label>
            <input type="text" class="form-control input-text" id="ItemID" name="ItemID" value="{{Item.ItemID}}" placeholder="请输入组ID！">
        </div>
        <div class="form-group group-style">
            <label for="ItemName">组名称</label>
            <input type="text" class="form-control input-text" id="ItemName" name="ItemName" value="{{Item.ItemName}}" placeholder="请输入组名称！">
        </div>
        <div class="form-group group-style">
            <label for="ItemDescription">组描述</label>
            <input type="text" class="form-control input-text" id="ItemDescription" name="ItemDescription" value="{{Item.ItemDescription}}" placeholder="请输入组描述！">
        </div>
        <div class="form-group group-style">
            <label for="ValueFunc">值转换函数</label>
            <input type="text" class="form-control input-text" id="ValueFunc" name="ValueFunc" value="{{Item.ValueFunc}}" placeholder="请输入值的转换函数！">
        </div>
        <div class="form-group group-style">
            <label for="MinValue">安全最小值</label>
            <input type="text" class="form-control input-text" id="MinValue" name="MinValue" value="{{Item.MinValue}}" placeholder="请输入安全最小值！">
        </div>
        <div class="form-group group-style">
            <label for="MaxValue">安全最大值</label>
            <input type="text" class="form-control input-text" id="MaxValue" name="MaxValue" value="{{Item.MaxValue}}" placeholder="请输入安全最大值！">
        </div>
        <div class="form-group group-style">
            <label for="Unit">单位</label>
            <input type="text" class="form-control input-text" id="Unit" name="Unit" value="{{Item.Unit}}" placeholder="请输入单位！">
        </div>
        <div class="form-group group-style">
            <label for="Price">单价</label>
            <input type="text" class="form-control input-text" id="Price" name="Price" value="{{Item.Price}}" placeholder="请输入单价！">
        </div>
        <div class="form-group group-style">
            <label for="Type">类别</label>
            <input type="text" class="form-control input-text" id="Type" name="Type" value="{{Item.Type}}" placeholder="请输入类别！">
        </div>
        <div class="form-group group-style">
            <label for="ParentID">父点位ID</label>
            <input type="text" class="form-control input-text" id="ParentID" name="ParentID" value="{{Item.ParentID}}" placeholder="请输入父点位ID！">
        </div>
        <div class="form-group group-style">
            <label for="ArchiveInterval">归档时间间隔</label>
            <input type="text" class="form-control input-text" id="ArchiveInterval" name="ArchiveInterval" value="{{Item.ArchiveInterval}}" placeholder="请输入归档时间间隔！">
        </div>
        <div class="form-group group-style">
            <label for="IsArchive"><input type="checkbox" id="IsArchive" name="IsArchive">是否归档</label>
        </div>
    </form>
    <button class="btn btn-primary btn-style btn-top btn-special" ng-click="modify()">修改</button><br />
</div>