<!DOCTYPE html>
<html>
<head>
    <title>系统首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.pagination.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/contents.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.pagination-1.2.7.min.js"></script>
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/init.js"></script>
</head>
<body ng-app="app" ng-controller="layoutCtrl">
    <div class="content">
        <div class="nav-top">
            <div class="logo">
                <a href="~/home/index"><h3>能耗预付费系统</h3></a>
            </div>
            <div class="user-identity">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1">
                        {{UserSession.UserName}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" href="#" ng-click="logout()">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="manager">
                <ul>
                    <li><a href="#">预付费管理</a></li>
                    <li><a href="#">能耗管理</a></li>
                    <li><a href="#">用户管理</a></li>
                    <li><a href="~/point/list">设备管理</a></li>
                    <li><a href="~/creditlevel/list">信用等级</a></li>
                    <li><a href="~/recharge/list">充值记录</a></li>
                    <li><a href="~/admin/list">登录账号</a></li>
                </ul>
            </div>
            <div class="content-show">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="wnd" style="position:fixed;"></div>
    @*消息确认框*@
    <div class="modal fade" id="commontipConfirmModal">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-exclamation-triangle"></i><span style="margin-left: 2px;">警告</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p id="showConfirmTitle"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="height: 36px;"
                            data-dismiss="modal" id="cancelConfirmPop">
                        取消
                    </button>
                    <button type="button" class="btn  btn-primary" style="height: 36px;" id="confirmPop">确定</button>
                </div>
            </div>
        </div>
    </div>
    @*消息提示框*@
    <div class="modal fade" id="commontiperrModal">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="model-msg-title"><i class="fa fa-times-circle"></i><span style="margin-left: 2px;">错误提示</span></h4>
                </div>
                <div class="modal-body">
                    <p id="showerrTitle" style="font-size: 16px;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modelClose" style="height: 36px;"
                            data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>