<!DOCTYPE html>
<html>
<head>
    <title>系统首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.pagination.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/contents.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.pagination-1.2.7.min.js"></script>
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/init.js"></script>
    <script>
        $(document).ready(function () {
            $(".manager li a").each(function () {
                var curr = $(this).data("curr");
                if (window.location.href.indexOf(curr) != -1) {
                    $(this).parent().removeClass("li-list");
                    $(this).parent().addClass("li-active");
                }
            });

            $(function () {
                var Accordion = function (el, multiple) {
                    this.el = el || {};
                    this.multiple = multiple || false;
                    // Variables privadas
                    var links = this.el.find('.link');
                    // Evento
                    links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
                }
                Accordion.prototype.dropdown = function (e) {
                    var $el = e.data.el;
                    $this = $(this),
                    $next = $this.next();
                    $next.slideToggle();
                    $this.parent().toggleClass('open');
                    if (!e.data.multiple) {
                        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                    };
                }
                var accordion = new Accordion($('#accordion'), false);
            });
        });
    </script>
</head>
<body ng-app="app" ng-controller="layoutCtrl">
    <div class="content">
        <div class="nav-top">
            <div class="logo">
                <a href="~/home/index"><img src="~/images/pre_energy.png" alt="Alternate Text" /></a>
            </div>
            <div class="user-identity">
                <div class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1">
                            haha <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" href="#" ng-click="logout()">退出</a>
                            </li>
                        </ul>*@
                    <ul id="accordion" class="accordion">
                        <li style="position:relative;">
                            <div class="link">
                                admin<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">消费记录</a><a href="#">业主信息</a></li>
                                <li><a href="#">设备一览</a><a href="#">信用等级</a></li>
                                <li><a href="#">充值记录</a><a href="#">账号管理</a></li>
                                <li role="presentation"><a role="menuitem" href="#" ng-click="logout()">退出</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="manager">
                <ul>
                    <li class="li-list">
                        <a class="picture_1" data-curr="prepaid" href="~/prepaid/list"></a>
                    </li>
                    <li class="li-list">
                        <a class="picture_2" data-curr="energybill" href="~/energybill/list"></a>
                    </li>
                    <li class="li-list">
                        <a class="picture_3" data-curr="user" href="~/user/list"></a>
                    </li>
                    <li class="li-list">
                        <a class="picture_4" data-curr="point" href="~/point/list"></a>
                    </li>
                    <li class="li-list">
                        <a class="picture_5" data-curr="creditlevel" href="~/creditlevel/list"></a>
                    </li>
                    <li class="li-list">
                        <a class="picture_6" data-curr="recharge" href="~/recharge/list"></a>
                    </li>
                    <li class="li-list">
                        <a class="picture_7" data-curr="admin" href="~/admin/list"></a>
                    </li>
                    <li class="li-list">
                        <a data-curr="community" href="~/community/add">点我！</a>
                    </li>
                    <li class="li-list">
                        <a data-curr="community" href="~/community/Details">点点我！</a>
                    </li>
                </ul>
            </div>
            <div class="content-show">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="wnd" style="position:fixed;"></div>
    @*消息确认框*@
    <div class="modal fade" id="commontipConfirmModal">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-exclamation-triangle"></i><span style="margin-left: 2px;">警告</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p id="showConfirmTitle"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="height: 36px;"
                            data-dismiss="modal" id="cancelConfirmPop">
                        取消
                    </button>
                    <button type="button" class="btn  btn-primary" style="height: 36px;" id="confirmPop">确定</button>
                </div>
            </div>
        </div>
    </div>
    @*消息提示框*@
    <div class="modal fade" id="commontiperrModal">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="model-msg-title"><i class="fa fa-times-circle"></i><span style="margin-left: 2px;">错误提示</span></h4>
                </div>
                <div class="modal-body">
                    <p id="showerrTitle" style="font-size: 16px;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modelClose" style="height: 36px;"
                            data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>