@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('PrepaidBillCtrl', function ($scope, $http) {
        $scope.PageSize = 10;
        var flag = getQueryString("flag");
        if (flag == "1") {
            var params = {
                "BuildingNo": getQueryString("buildingNo"),
                "PageIndex": 1,
                "PageSize": $scope.PageSize
            };
            getBetterRooms(params,true);
        } else if (flag == "0") {
            var params = {
                "BuildingNo": getQueryString("buildingNo"),
                "PageIndex": 1,
                "PageSize": $scope.PageSize
            };
            getWorseRooms(params,true);
        } else {
            var params = {
                "BuildingNo": getQueryString("buildingNo"),
                "RoomNo": getQueryString("roomNo"),
                "Floor": getQueryString("floor"),
                "RealName": "",
                "PageIndex": 1,
                "PageSize": $scope.PageSize
            };
            getInfos(params, true);
        }

        function getBetterRooms(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/bills/recommendrooms",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getBetterRooms(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getBetterRooms(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        function getWorseRooms(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/bills/arrearsrooms",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getWorseRooms(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getWorseRooms(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
        
        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/prepaidbills",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 结算
        $scope.settleBill = function (RoomNo) {
            ShowConfirmModal("确定要结算该业主的能耗费用吗?", function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/roombills",
                    params: { "RoomNo": RoomNo }
                }).success(function (data, status, headers, config) {
                    window.parent.location.href = window.parent.location.href;
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 导出报表
        $scope.exportReport = function () {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/export/prepaidbills"
            }).success(function (data, status, headers, config) {
                ShowTipsModel("业主能耗缴费实时账单导出成功！");
                location.href = location.origin + '/' + data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        // 批量结算
        $scope.batchSettle = function () {
            ShowConfirmModal("确定要在当前时刻批量结算业主能耗费用吗?", function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/batch/bills"
                }).success(function (data, status, headers, config) {
                    window.parent.location.href = "../prepaid/list";
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>
<div ng-controller="PrepaidBillCtrl" class="content-div" style="padding-right:0;padding-left:10px;">
    <div ng-cloak ng-repeat="item in Items" class="cube-div">
        <div class="cube-left table-responsive">
            <table class="table table-condensed table-bordered">
                <tbody>
                    <tr style="font-size:14px;">
                        <td width="30%">单    位:</td>
                        <td width="50%"><b>&nbsp;{{item.BuildingNo}}/{{item.RoomNo}}</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>业主姓名:</td>
                        <td><b>&nbsp;{{item.RealName}}</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>联系方式:</td>
                        <td><b>&nbsp;{{item.Phone}}</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>信用积分:</td>
                        <td><b>&nbsp;{{item.CreditScore}}</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>信用等级:</td>
                        <td><b style="color:#0033ff;">&nbsp;{{item.CreditLevel}}</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>账户余额:</td>
                        <td><b style="color:#0033ff;">&nbsp;{{item.AccountBalance}}元</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>物业管理费(每月):</td>
                        <td><b style="color:#ff3300;">&nbsp;{{item.ManagerFees}}元</b></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>可欠费金额:</td>
                        <td><b style="color:#0033ff;">&nbsp;{{item.Arrears}}元</b></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-primary btn-four" id="btnBillRecord{{$index+1}}" url="room/bills?roomNo={{item.RoomNo}}&buildingNo={{item.BuildingNo}}"
                                    onclick="popFirstWnd(this.id, '结算记录','1000','455')">
                                结算记录
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-four" id="btnRechargeRecord{{$index+1}}"
                                    url="room/recharges?roomNo={{item.RoomNo}}&buildingNo={{item.BuildingNo}}" onclick="popDefaultWnd(this.id, '充值记录')">
                                充值记录
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cube-right">
            <div class="cube-top">
                <span>结算总价:<b style="color:#ff3300;">{{item.SumMoney}}元</b></span>
                <span>结算余额:<b style="color:#ff3300;">{{item.BilledBalance}}元</b></span>
            </div>
            <div class="cube-middle">
                <table class="user-table table table-condensed" cellpadding="2" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="20%">设备名称</th>
                            <th width="11%">单价</th>
                            <th width="29%">上次抄表读数</th>
                            <th width="29%">当前抄表读数</th>
                            <th width="11%">价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak ng-repeat="device in item.PrepaidDeviceBills">
                            <td style="line-height:13px;">{{device.DeviceName}}</td>
                            <td>{{device.Price}}</td>
                            <td>{{device.PreValue}}</td>
                            <td>{{device.CurValue}}</td>
                            <td>{{device.Money}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ctrl-btn">
            <button type="button" id="btnRecharge{{$index+1}}" class="btn btn-success btn-style"
                    url="recharge/add?roomNo={{item.RoomNo}}" onclick="popFirstWnd(this.id, '能耗充值','400','300')">
                充值
            </button>
            <button type="button" ng-if="item.IntBilledBalance >= 0 && item.IntSumMoney>0" class="btn btn-danger btn-style"
                    ng-click="settleBill(item.RoomNo)">
                结算
            </button>
        </div>
    </div>
    <div class="fixed-aside" style="width:2%;font-size:14px;color:#fff;font-weight:bold;position:fixed;right:13px;top:45%;height:200px;">
        <button class="currency-btn" type="button" ng-click="exportReport()" style="background: #d9534f;">批<br>量<br>导<br>出</button>
        <button class="currency-btn" type="button" ng-click="batchSettle()" style="background: #d9534f;margin-top:20px;">批<br>量<br>结<br>算</button>
    </div>
    <div class="width center">
        <div id="page4" class="m-pagination m-center"></div>
    </div>
</div>