@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            language: 'zh-CN',/*加载日历语言包，可自定义*/
            weekStart: 1,
            todayBtn: 1,
            todayHighlight: 1,
            pickerPosition: "bottom-left",
            startView: 2,
            minView: 2,
            maxView: 4,
            forceParse: 0
        });

        // 保证结束日期不能小于开始日期
        $("#endTime input").focus(function () {
            $('#endTime').datetimepicker('setStartDate', $("#startTime input").val());
        });
    });

    app.controller('BillCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "RoomNo": "",
            "RealName": "",
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        getInfos(params, true);

        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/roombills",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        // 搜索
        $scope.search = function () {
            params.RoomNo = $("#RoomNo").val();
            params.RealName = $("#RealName").val();
            params.StartTime = $scope.StartTime;
            params.EndTime = $scope.EndTime;
            params.PageIndex = 1;
            getInfos(params, true);
        };

        // 导出报表
        $scope.exportReport = function () {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/export/roombills",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("业主能耗缴费历史账单导出成功！");
                location.href = location.origin + '/' + data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        $scope.energyStyle = function (height) {
            if (height > 1) {
                return {
                    "height": 41 * height + "px",
                    "padding-top": 20 + 40 * (height - 2) / 2 + "px"
                };
            }
        };
    });
</script>
<div ng-controller="BillCtrl" class="content-div">
    <div class="top-basic">
        <strong>结算记录</strong>
    </div>
    <div class="top-search">
        <div class="search-ctrl font-ctrl">房间编号:</div>
        <div class="search-ctrl"><input type="text" id="RoomNo" class="form-control input-search"></div>
        <div class="search-ctrl font-ctrl">业主姓名:</div>
        <div class="search-ctrl"><input type="text" id="RealName" class="form-control input-search"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 search-lg-div">
            <div class="input-group date form_datetime search-data" id="startTime">
                <input class="form-control input-search" ng-model="StartTime" data-date-format="yyyy-mm-dd" placeholder="请输入开始日期">
                <span class="input-group-addon input_all_btn"><span class="glyphicon glyphicon-th"></span></span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-md-3 search-lg-div">
            <div class="input-group date form_datetime search-data" id="endTime">
                <input class=" form-control input-search" ng-model="EndTime" data-date-format="yyyy-mm-dd" placeholder="请输入结束日期">
                <span class="input-group-addon input_all_btn"><span class="glyphicon glyphicon-th"></span></span>
            </div>
        </div>
        <div class="input-group search-div">
            <button class="search-btn" title="搜索" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="input-group search-right">
            <button class="search-load" title="导出报表" ng-click="exportReport()">导出报表</button>
        </div>
    </div>
    <div class="container-fluid control-div">
        <div class="row content-basic">
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0 0;">
                <div class="row style-sm" style="width:100%;margin-right:0;margin-left:0;">
                    <div class="col-lg-2 col-md-2 col-sm-2">房间编号</div>
                    <div class="col-lg-5 col-md-5 col-sm-5">结算批次</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">业主姓名</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">结算时间</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding:0 0;">
                <div class="col-lg-2 col-md-2 col-sm-2 head-second" style="border-left:transparent;">设备编号</div>
                <div class="col-lg-2 col-md-2 col-sm-2 head-second">设备名称</div>
                <div class="col-lg-2 col-md-2 col-sm-2 head-second">上次读数</div>
                <div class="col-lg-2 col-md-2 col-sm-2 head-second">当前读数</div>
                <div class="col-lg-2 col-md-2 col-sm-2 head-second">单价</div>
                <div class="col-lg-2 col-md-2 col-sm-2 head-second" style="border-right:1px solid #d7d7d7;">价格</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row style-sm">
                    <div class="col-lg-6 col-md-6 col-sm-6">总费用</div>
                    <div class="col-lg-6 col-md-6 col-sm-6" style="color:#0033ff;">账户余额</div>
                </div>
            </div>
        </div>
        <div class="row information" ng-cloak ng-repeat="item in Items" ng-class="{'item-last':$last}">
            <div class="col-lg-4 col-md-4 col-sm-4" ng-style="energyStyle(item.DeviceBills.length)" style="position:relative;">
                <div class="row style-spe">
                    <div class="col-lg-2 col-md-2 col-sm-2" rowspan="{{item.DeviceBills.length}}">{{item.RoomNo}}</div>
                    <div class="col-lg-5 col-md-5 col-sm-5" rowspan="{{item.DeviceBills.length}}">{{item.LotNo}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2" rowspan="{{item.DeviceBills.length}}">{{item.RealName}}</div>
                    <div class="col-lg-3 col-md-3 col-sm-3" rowspan="{{item.DeviceBills.length}}" style="border-right:transparent;">{{item.DateTime|date:"yyyy-MM-dd"}}</div>
                </div>
                <div class="row zindex" style="border-bottom:1px solid #d7d7d7;">
                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    <div class="col-lg-5 col-md-5 col-sm-5"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    <div class="col-lg-3 col-md-3 col-sm-3" style="border-right:transparent;"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2" style="position:relative;float:right;" ng-style="energyStyle(item.DeviceBills.length)">
                <div class="row style-spe">
                    <div class="col-lg-6 col-md-6 col-sm-6" rowspan="{{item.DeviceBills.length}}">{{item.SumMoney}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6" rowspan="{{item.DeviceBills.length}}" style="border-right:transparent;color:#0033ff;">{{item.BilledAccountBalance}}</div>
                </div>
                <div class="row zindex" style="border-bottom:1px solid #d7d7d7;">
                    <div class="col-lg-6 col-md-6 col-sm-6"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6" style="border-right:transparent;"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 information-content" ng-cloak ng-repeat="device in item.DeviceBills" style="border-bottom:transparent;">
                <div class="col-lg-2 col-md-2 col-sm-2 information-second">{{device.DeviceNo}}</div>
                <div class="col-lg-2 col-md-2 col-sm-2 information-second">{{device.DeviceName}}</div>
                <div class="col-lg-2 col-md-2 col-sm-2 information-second">{{device.PreValue}}</div>
                <div class="col-lg-2 col-md-2 col-sm-2 information-second">{{device.CurValue}}</div>
                <div class="col-lg-2 col-md-2 col-sm-2 information-second">{{device.Price}}</div>
                <div class="col-lg-2 col-md-2 col-sm-2 information-second">{{device.Money}}</div>
            </div>

        </div>
    </div>
</div>
<div class="width center">
    <div id="page4" class="m-pagination m-center"></div>
</div>
