@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('EnergyBillCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "UserID": "",
            "RealName": "",
            "BuildingName": "",
            "RoomNo": "",
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        getInfos(params, true);

        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/userprepaidbills",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 结算
        $scope.settleBill = function (userID, currentAccountBalance, deviceEnergies) {
            ShowConfirmModal("确定要结算该业主的能耗费用吗?", function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/userenergybills",
                    params: {
                        "UserID": userID,
                        "CurrentAccountBalance": currentAccountBalance,
                        "DeviceEnergies": deviceEnergies
                    }
                }).success(function (data, status, headers, config) {
                    window.parent.location.href = "../prepaid/list";
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 搜索
        $scope.search = function () {
            params.PageIndex = 1;
            params.UserID = $("#UserID").val();
            params.RealName = $("#RealName").val();
            params.BuildingName = $("#BuildingName").val();
            params.RoomNo = $("#RoomNo").val();
            getInfos(params, true);
        };

        // 导出报表
        $scope.exportReport = function () {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/export/userprepaidbills",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("业主能耗缴费实时账单导出成功！");
                location.href = location.origin + '/' + data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        // 批量结算
        $scope.batchSettle = function () {
            ShowConfirmModal("确定要在当前时刻批量结算业主能耗费用吗?", function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/batch/userenergybills"
                }).success(function (data, status, headers, config) {
                    window.parent.location.href = "../prepaid/list";
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
        $scope.myStyle = function (height) {
            if (height > 1) {
                return {
                    "height": 40 * height + "px",
                    "padding-top": 20 + 40 * (height - 2) / 2 + "px",
                };
            }
        };
    });
</script>
<div ng-controller="EnergyBillCtrl" class="content-div">
    <div class="top-basic">
        <strong>实时能耗</strong>
    </div>
    <div class="container-fluid">
        <div class="row row-style">
            <div class="col-lg-8 col-md-8 col-sm-8 search-top">
                <div class="row">
                    <div class="search-txt col-lg-1 col-md-1 col-sm-1">业主UUID:</div>
                    <div class="col-lg-2 col-md-2 col-sm-2"><input type="text" id="UserID" class="form-control input-search"></div>
                    <div class="search-txt col-lg-1 col-md-1 col-sm-1">业主姓名:</div>
                    <div class="col-lg-2 col-md-2 col-sm-2"><input type="text" id="RealName" class="form-control input-search"></div>
                    <div class="search-txt col-lg-1 col-md-1 col-sm-1">建筑名称:</div>
                    <div class="col-lg-2 col-md-2 col-sm-2"><input type="text" id="BuildingName" class="form-control input-search"></div>
                    <div class="search-txt col-lg-1 col-md-1 col-sm-1">房间编号:</div>
                    <div class="col-lg-2 col-md-2 col-sm-2"><input type="text" id="RoomNo" class="form-control input-search"></div>
                </div>
            </div>
            <div class="input-group search-div">
                <button class="search-btn" title="搜索" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="search-load" title="导出报表" ng-click="exportReport()">导出报表</button>
                <button class="search-load" title="批量结算" ng-click="batchSettle()">批量结算</button>
            </div>
        </div>
    </div>
    <!--添加边框的div-->
    <div class="container-fluid control-div">
        <div class="row content-basic">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row style-sm">
                    <div class="col-md-4 col-sm-4 col-xs-4">业主姓名</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">建筑名称</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">房间编号</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 device-data">
                <div class="row style-sm">
                    <div class="col-md-3 col-sm-3 col-xs-3">设备名称</div>
                    <div class="col-md-3 col-sm-3 col-xs-3">上次抄表读数</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">当前抄表读数</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">当前用能</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">单价</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row style-sm">
                    <div class="col-md-2 col-sm-2 col-xs-2">当前总能耗</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">当前结算总价</div>
                    <div style="color:#cc3300;" class="col-md-2 col-sm-2 col-xs-2">账户余额</div>
                    <div style="color:#cc3300;" class="col-md-3 col-sm-3 col-xs-3">结算后账户余额</div>
                    <div class="col-md-3 col-sm-3 col-xs-3">操作</div>
                </div>
            </div>
        </div>
        <div class="row content-list" ng-cloak ng-repeat="item in Items" ng-class="{'item-last':$last}">
            <div class="col-lg-2 col-md-2 col-sm-2" ng-style="myStyle(item.InstantDeviceEnergies.length)" style="position:relative;">
                <div class="row style-spe">
                    <div class="col-md-4 col-sm-4 col-xs-4" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.RealName}}</div>
                    <div class="col-md-4 col-sm-4 col-xs-4" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.BuildingName}}</div>
                    <div class="col-md-4 col-sm-4 col-xs-4" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.RoomNo}}</div>
                </div>
                <div class="row zindex">
                    <div class="col-md-4 col-sm-4 col-xs-4"></div>
                    <div class="col-md-4 col-sm-4 col-xs-4"></div>
                    <div class="col-md-4 col-sm-4 col-xs-4" style="border-right:1px solid #d7d7d7;"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="row style-md" ng-cloak ng-repeat="device in item.InstantDeviceEnergies">
                    <div class="col-md-3 col-sm-3 col-xs-3">{{device.DeviceName}}</div>
                    <div class="col-md-3 col-sm-3 col-xs-3">{{device.PreValue}}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">{{device.CurrentValue}}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">{{device.IntervalValue}}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">{{device.Price}}</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" ng-style="myStyle(item.InstantDeviceEnergies.length)" style="position:relative;">
                <div class="row style-spe">
                    <div class="col-md-2 col-sm-2 col-xs-2" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.CurrentSumValue}}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.StrCurrentSumMoney}}</div>
                    <div style="color:#339900;" class="col-md-2 col-sm-2 col-xs-2" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.AccountBalance}}</div>
                    <div class="col-md-3 col-sm-3 col-xs-3 money-style" rowspan="{{item.InstantDeviceEnergies.length}}">{{item.StrCurrentAccountBalance}}</div>
                    <div style="border-right:1px solid transparent;" class="col-md-3 col-sm-3 col-xs-3" rowspan="{{item.InstantDeviceEnergies.length}}">
                        <button type="button" id="btnRecharge{{$index+1}}" class="btn btn-success btn-style"
                                url="recharge/add?userid={{item.UserID}}" onclick="popFirstWnd(this.id, '能耗充值','400','400')">
                            充值
                        </button>
                        <button type="button" ng-if="item.CurrentAccountBalance >= 0" class="btn btn-danger btn-style"
                                ng-click="settleBill(item.UserID,item.CurrentAccountBalance,item.InstantDeviceEnergies)">
                            结算
                        </button>
                        <button type="button" ng-if="item.CurrentAccountBalance < 0" class="btn btn-danger btn-style" disabled
                                ng-click="settleBill(item.UserID,item.CurrentAccountBalance,item.InstantDeviceEnergies)">
                            结算
                        </button>
                    </div>
                </div>
                <div class="row zindex">
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-3 col-sm-3 col-xs-3"></div>
                    <div class="col-md-3 col-sm-3 col-xs-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
