thead, label {
    font-size: 13px;
    font-weight: bold;
}
tbody, .from-control.text-size, .textarea-text, .input-text, .btn-size,.dropdown-menu>li>a {
    font-size: 13px;
}
/*点位信息与联动信息*/
.group-style {
    float:left;
    width:46%;
    margin-left:10px;
    margin-bottom:8px;
}
.div-three {
    float:left;
}
.form-div {
    height:484px;
    margin-bottom:0;
}
.group-style.group-select {
    margin-top:25px;
}
.btn-special {
    margin-right:43px;
}
.btn-special2 {
    margin-right:43px;
}
.form-group.checkbox {
    margin-top:0;
}
.content-div {
    padding: 10px 10px;
    font-size: 13px;
}

.btn.btn-style {
    padding: 3px 6px;
    font-size: 13px;
}

.btn.btn-add {
    background-color: #5cb85c;
    color: #fff;
}

.btn.btn-four {
    padding: 3px 6px;
    font-size: 13px;
}

.btn-default.btn-style {
    background-color: #5cb85c;
    color: #FFF;
}

.btn.btn-top {
    float: right;
}

.m-pagination.m-center {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.big{
    font-weight:bold;
}
.point-table {
    background-color: #FFF;
    border: none;
    color: #565;
    font: 15px arial;
    width: 600px;
}

.point-table caption {
    border-bottom: 2px solid #B3DE94;
}
.point-table tr.even td {
    background-color:#fff;
}
.point-table tbody td {
    background-color: #88C448;
    padding:12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:13px;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    font-size:13px;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-size:13px;
}
.caption-style > h3 {
    margin:0;
    color:#274989;
}
/*table 的基础样式*/
thead tr th {
    text-align:center;
}
tbody tr td {
    text-align:center;
}
/*基础样式*/
.top-basic {
    font-size:15px;
    color:#7c7c7c;
    border:1px solid #d7d7d7;
    padding:4px 10px;
    background:-webkit-gradient(linear, 0% 0%, 0% 50%,from(#f5f5f5), to(#e6e6e6));
    border-radius:3px;
}
.container-fluid.control-div {
    margin-top:5px;
    padding:5px 5px 5px 5px;
    background-color:#fff;
    border:1px solid #d7d7d7;
    border-radius:5px;
}
.container-fluid .row.row-style {
    padding-top:0;
    background-color:#fff;
    border:1px solid #d7d7d7;
    border-top:1px solid transparent;
    border-radius:3px;
    color:#7c7c7c;
}
.container-fluid .row.paid-head {
    border-top:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
    padding:0 0;
    margin:0 5px;
    background-color:#e8e8e8;
    border-left:1px solid #d7d7d7;
}
/*头部的背景样式*/
.container-fluid .row.paid-menu {
    padding:0 0;
    margin:0 5px;
    background-color:#e8e8e8;
    border-left:#d7d7d7;
}
/*no-repeat 的隔行变色*/
.container-fluid .row.paid-menu:nth-child(even) {
    background-color:#fff;
}
.container-fluid .row.paid-menu:nth-child(odd) {
    background-color:#f4f3f3;
}
.container-fluid .row.style-sm {
    padding:0 0 ;
    height:35px;
}
.container-fluid .head-second {
    border-left:1px solid #d7d7d7;
    padding:0 0 ;
    height:35px;
}
.container-fluid .style-sm div {
    border-left:1px solid #d7d7d7;
    line-height:35px;
    color:#7c7c7c;
    font-weight:bold;
}
.container-fluid .row.style-md {
    padding:0 0 ;
    height:40px;
}
.container-fluid .row.style-spe {
    padding:0 0 ;
    height:40px;
}
.container-fluid .style-md div {
    border-right:1px solid #d7d7d7;
    line-height:40px;
    color:#7c7c7c;
    font-weight:bold;
}
.container-fluid .style-spe div {
    line-height:40px;
    color:#7c7c7c;
    font-weight:bold;
}
.item-last {
    border-bottom:1px solid #d7d7d7;
}
/*能耗管理的table样式*/
.container-fluid .row{
    text-align:center;
    padding:8px 0;
    word-break: break-all;
    word-wrap: break-word;
}
.container-fluid .row.information {
    margin-left:5px;
    margin-right:5px;
    border-left:1px solid #d7d7d7;
    border-right:1px solid #d7d7d7;
    padding:0 0; 
}
    .container-fluid .row.information .zindex ,.container-fluid .row.paid-menu .zindex {
        position:absolute;top:0;left:15px;z-index:10000;height:100%;width:100%;padding:0 0 ;
    }
        .container-fluid .row.information .zindex > div ,.container-fluid .row.paid-menu .zindex >div {
            height:100%;
        }
.container-fluid .row.information:nth-child(even) {
    background-color:#fff;
}
.container-fluid .row.information:nth-child(odd) {
    background-color:#f4f3f3;
}
.container-fluid .row .head-second {
    padding:8px 0;
    float:left;
    width:20%;
}
.container-fluid .row .information-content {
    color:#7c7c7c;
    font-weight:bold;
    border-left:1px solid #d7d7d7;
    padding-left:0;
    padding-right:0;     
}
.container-fluid .row .information-second {
    float:left;
    width:20%;
    padding:8px 0;
    line-height:24px;
    border-right:1px solid #d7d7d7;
}
/*预付费的table样式*/
.container-fluid > .row > div >.row> div{
    padding:0 0 ;
}

/*搜索框的样式*/
.search-top {
    height:40px;
}
.container-fluid>.row>.search-top>.row>.search-txt {
    display:inline-table;
    float:left;
    font-weight:bold;
    font-size:12px;
    height:34px;
    padding-top:10px;
}
.search-btn {
    width:40px;
    line-height:28px;
    border:1px solid #cbc1c1;
    border-radius:3px;
    margin-right:10px;
}
.search-load {
    line-height:28px;
    border:1px solid #cbc1c1;
    border-radius:3px;
    margin-right:10px;
}
.input-search {
    display:inline-table;
    width:90%;
}
.energy-input {
    display:inline-table;
    width:90%;
}
.search-div {
    display:inline-table;
    float:left;
    margin-left:15px;
}
/*搜索框的时间控件的样式*/
.search-lg-div {
    float:left;
    width:15%;
    margin-left:5px;
}
.search-lg-div > .search-data {
    width:100%;
}
