thead, label {
    font-size: 13px;
    font-weight: bold;
}
tbody, .from-control.text-size, .textarea-text, .input-text, .btn-size,.dropdown-menu>li>a {
    font-size: 13px;
}
/*点位信息与联动信息*/
.group-style {
    float:left;
    width:46%;
    margin-left:10px;
    margin-bottom:8px;
}
.div-three {
    float:left;
}
.form-div {
    height:484px;
    margin-bottom:0;
}
.group-style.group-select {
    margin-top:25px;
}
.btn-special {
    margin-right:43px;
}
.btn-special2 {
    margin-right:43px;
}
.form-group.checkbox {
    margin-top:0;
}
.content-div {
    padding: 10px 15px;
    font-size: 13px;
}

.btn.btn-style {
    padding: 3px 6px;
    font-size: 13px;
}

.btn.btn-add {
    background-color: #5cb85c;
    color: #fff;
}

.btn.btn-four {
    padding: 3px 6px;
    font-size: 13px;
}

.btn-default.btn-style {
    background-color: #5cb85c;
    color: #FFF;
}

.btn.btn-top {
    float: right;
}

.m-pagination.m-center {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.big{
    font-weight:bold;
}
.point-table {
    background-color: #FFF;
    border: none;
    color: #565;
    font: 15px arial;
    width: 600px;
}

.point-table caption {
    border-bottom: 2px solid #B3DE94;
}
.point-table tr.even td {
    background-color:#fff;
}
.point-table tbody td {
    background-color: #88C448;
    padding:12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:13px;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    font-size:13px;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-size:13px;
}
.caption-style > h3 {
    margin:0;
    color:#274989;
}
/*table 的基础样式*/
thead tr th {
    text-align:center;
}
tbody tr td {
    text-align:center;
}
/*能耗管理的table样式*/
.container-fluid .row{
    text-align:center;
    border-bottom:2px solid #ddd;
    padding:8px 0;
    word-break: break-all;
    word-wrap: break-word;
}
    .container-fluid .row.head-basic {
        font-weight:bold;
    }
.container-fluid .row.information > div {
    height:50px;
    font-size:13px;
    line-height:22px;
}
.container-fluid .row .head-second {
    float:left;
    width:20%;
}
.container-fluid .row .information-content {
    border-bottom:1px solid #ddd;
    background-color:#dff0d8;     
}
.container-fluid .row .information-content:hover {
    background-color:#d0e9c6;       
}
.container-fluid .row .information-second {
    float:right;
    width:20%;
    padding:8px 0;
}
/*预付费的table样式*/
.container > div.paid-menu{
    border-bottom:1px solid transparent;
}
.row.paid-data {
    padding-bottom:8px;
}
.container-fluid > .row > div >.row> div{
    padding:0 0 ;
}
.row.paid-data >.col-lg-4 >.paid-move {
    background-color:#dff0d8;
    border-bottom:1px solid #ddd;
}
.row.paid-data >.col-lg-4 >.paid-move:hover {
    background-color:#d0e9c6;
}
/*搜索框的样式*/
.search-top {
    height:40px;
}
.container-fluid>.row>.search-top>.row>.search-txt {
    display:inline-table;
    float:left;
    font-weight:bold;
    font-size:12px;
    height:34px;
    padding-top:10px;
}
.search-btn {
    width:40px;
    line-height:28px;
    border:1px solid #cbc1c1;
    border-radius:3px;
    margin-right:10px;
}
.search-load {
    line-height:28px;
    border:1px solid #cbc1c1;
    border-radius:3px;
    margin-right:10px;
}
.input-search {
    display:inline-table;
    width:90%;
}
.energy-input {
    display:inline-table;
    width:90%;
}
.search-div {
    display:inline-table;
    float:left;
    margin-left:15px;
}
/*搜索框的时间控件的样式*/
.search-lg-div {
    float:left;
    width:15%;
    margin-left:5px;
}
.search-lg-div > .search-data {
    width:100%;
}