html {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: #E0FBC4;
}

.content {
    font: 1.5em arial, verdana, sans-serif;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.nav-top {
    background:#19c68b;
    width:100%;
    height:68px;
    position:relative;
}

.logo {
    position: absolute;
    height: 100%;
    width: 300px;
    left: 10px;
    padding-top:18px;
    /*background-color:#8B4513;*/
}
.logo > a > h3 {
    margin-top:27px;
}
.user-identity {
    float: right;
    margin-right: 10px;
    height: 100%;
    width: 90px;
    padding-top: 27px;
}

.main {
    width: 100%;
    height: calc(100% - 68px);
    position: relative;
}

.manager {
    float:left;
    width: 150px;
    height: 100%;
    background-color:#576161;
}
.manager li.li-list {
    display:block;
    width:100%;
}
.manager a {
    display:block;
    width:100%;
    height:44px;
}
.manager li.li-active{
    display:block;
    width:100%;
    background-color:#51a07d;        
}
.manager a.picture_1 {
    background-image:url(../../images/left/real_energy_1.png);
}
.manager a.picture_2 {
    background-image:url(../../images/left/pay_1.png);
}
.manager a.picture_3 {
    background-image:url(../../images/left/owner_1.png);
}
.manager a.picture_4 {
    background-image:url(../../images/left/equipment_1.png);
}
.manager a.picture_5 {
    background-image:url(../../images/left/credit_1.png);
}
.manager a.picture_6 {
    background-image:url(../../images/left/recharge_1.png);
}
.manager a.picture_7 {
    background-image:url(../../images/left/account_1.png);
}
.content-show {
    float:left;
    width: calc(100% - 150px);
    height: 100%;
    border:2px solid #b7b7b7;
    border-bottom:2px solid transparent;
}
