@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('DeviceLinkCtrl', function ($scope, $http) {
        $scope.RealName = "请选择业主";
        $scope.DeviceName = "请选择仪器设备";
        getUsers();
        getPoints();
        getInfo();

        // 获取所有业主信息
        function getUsers() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/users"
            }).success(function (data, status, headers, config) {
                $scope.UserItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 获取所有点位信息
        function getPoints() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/points"
            }).success(function (data, status, headers, config) {
                $scope.PointItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 获取设备联动信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devicelinks/" + getQueryString("id"),
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
                $scope.UserID = $scope.Item.UserID;
                $scope.RealName = $scope.Item.RealName;
                $scope.DeviceName = $scope.Item.DeviceName;
                $scope.PointID = $scope.Item.PointID;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 添加设备联动信息
        $scope.modify = function () {
            var params = {
                "UserID": $scope.UserID,
                "PointID": $scope.PointID,
                "Remark": $("#Remark").val()
            };
            $http({
                method: "post",
                withCredentials: true,
                url: "../api/devicelinks",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("设备联动信息添加成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../user/list";
                    } else {
                        window.location.href = "../user/list";
                    }
                });

            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        // 选择用户
        $scope.selectUser = function (id, realName) {
            $scope.UserID = id;
            $scope.RealName = realName;
        }

        // 选择点位
        $scope.selectPoint = function (id, deviceName) {
            $scope.PointID = id;
            $scope.DeviceName = deviceName;
        }
    });
</script>
<div ng-controller="DeviceLinkCtrl" class="content-div">
    <form role="form">
        <div class="form-group">
            <label>业主选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;">
                        {{RealName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in UserItems">
                            <a href="#" ng-click="selectUser(item.UUID,item.RealName)">{{item.RealName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>仪器设备选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;">
                        {{DeviceName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in PointItems">
                            <a href="#" ng-click="selectPoint(item.ID,item.DeviceName)">{{item.DeviceName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="3" class="form-control text-size textarea-text" id="Remark" name="Remark" placeholder="请输入备注！">{{Item.Remark}}</textarea>
        </div>
    </form>
    <button class="btn btn-primary btn-style btn-top" ng-click="add()">添加</button><br />
</div>