@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    function submit() {
        var formData = new FormData(document.getElementById("form"));
        $.ajax({
            cache: false,
            type: "POST",
            url: "../api/rooms/upload",
            xhrFields: {
                withCredentials: true
            },
            contentType: false,
            processData: false,
            data: formData,
            success: function (data, textStatus, jqXHR) {
                ShowTipsModel("房间数据导入成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../room/list";
                    } else {
                        window.location.href = "../room/list";
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowErrModal("房间数据导入失败！", textStatus);
            }
        });
    }
</script>
<div class="content-third-div">
    <div style="padding-left:80px;">
        <form class="form-horizontal" role="form" id="form">
            <div class="form-group" style="width:100%;padding-left:10px;">
                <label for="upload" class="control-label" style="font-size:14px;margin-bottom:20px;">请选择文件名称</label>
                <input style="width:80%;margin-bottom:10px;" type="file" class="form-control" id="upload" name="upload">
            </div>
            <div class="checkbox">
                <label style="font-size:14px;margin-bottom:20px;">
                    <input type="checkbox" name="IsDelete">批量导入前，是否删除原来的数据
                </label>
            </div>
        </form>
        <div>
            <button class="btn btn-primary" onclick="submit()">提交</button>
        </div>
    </div>
</div>