@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('RoomCtrl', function ($scope, $http) {
        getInfo();

        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/rooms/" + getQueryString("roomNo")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<style>
    .body > tr > th {
        background: #91c5d4;
        border: 1px solid #fff;
    }

    .body > tr > td {
        background: #bcd9e1;
        border: 1px solid #fff;
    }
</style>
<div ng-controller="RoomCtrl" class="content-div">
    <div class="content-table">
        <form role="form">
            <table class="table">
                <thead style="height:0;border-bottom:transparent;">
                    <tr>
                        <th width="25%"></th>
                        <th width="25%"></th>
                        <th width="25%"></th>
                        <th width="25%"></th>
                    </tr>
                </thead>
                <tbody class="body" style="font: 13px " lucida grande", helvetica, arial, sans-serif;">
                    <tr>
                        <th>业主姓名</th>
                        <td class="big">{{Item.RealName}}</td>
                        <th>房间编号</th>
                        <td class="big">{{Item.RoomNo}}</td>

                    </tr>
                    <tr class="even">
                        <th>所处楼层</th>
                        <td class="big">{{Item.Floor}}/{{Item.Floors}}</td>
                        <th>建筑编号</th>
                        <td class="big">{{Item.BuildingNo}}</td>

                    </tr>
                    <tr>
                        <th>管理费用(每平米)</th>
                        <td class="big">{{Item.Price}}</td>
                        <th>区域面积</th>
                        <td class="big">{{Item.Area}}</td>
                    </tr>
                    <tr class="even">
                        <th>电话号码</th>
                        <td class="big">{{Item.Phone}}</td>
                        <th>用户积分</th>
                        <td class="big">{{Item.CreditScore}}</td>
                    </tr>
                    <tr>
                        <th>账户余额</th>
                        <td class="big" style="color:#009900;">{{Item.AccountBalance}}</td>
                        <th>账户报警余额</th>
                        <td class="big" style="color:#ff3300;">{{Item.AccountWarnLimit}}</td>
                    </tr>
                    <tr class="even">
                        <th>微信账号</th>
                        <td class="big">{{Item.WechatAccount}}</td>
                        <th>支付宝账号</th>
                        <td class="big">{{Item.AlipayAccount}}</td>
                    </tr>
                    <tr>
                        <th>银行账号</th>
                        <td class="big">{{Item.BankAccount}}</td>
                        <th>备注</th>
                        <td class="big">{{Item.Remark}}</td>
                    </tr>
                <tbody>
            </table>
        </form>
    </div>
</div>