@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('RoomCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "RoomNo": "",
            "BuildingNo": "",
            "RealName": "",
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        getInfos(params, true);

        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/rooms",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    $("#page1").page('destroy');
                    $("#page1").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        $scope.delete = function (uuid) {
            ShowConfirmModal("确定要删除该房间吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/rooms/" + uuid
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("房间删除成功！", function () {
                        window.location.href = window.location.href;
                    });
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 搜索用户
        $scope.search = function () {
            params.PageIndex = 1;
            params.RoomNo = $("#RoomNo").val();
            params.BuildingNo = $("#BuildingNo").val();
            params.RealName = $("#RealName").val();
            getInfos(params, true);
        };
    });
</script>
<div ng-controller="RoomCtrl" class="content-div">
    <div class="top-basic">
        <strong>房间信息</strong>
    </div>
    <div class="top-search">
        <div class="search-ctrl font-ctrl">房间编号:</div>
        <div class="search-ctrl"><input type="text" id="RoomNo" class="form-control input-search"></div>
        <div class="search-ctrl font-ctrl">建筑编号:</div>
        <div class="search-ctrl"><input type="text" id="BuildingNo" class="form-control input-search"></div>
        <div class="search-ctrl font-ctrl">业主姓名:</div>
        <div class="search-ctrl"><input type="text" id="RealName" class="form-control input-search"></div>
        <div class="input-group search-div">
            <button class="search-btn" title="搜索" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="input-group search-right">
            <button title="添加房间" id="btnAdd" url="room/add" onclick="popFirstWnd(this.id, '添加房间','800','600')" class="btn btn-success btn-top">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="search-load" id="btnBatchImport" title="批量导入" url="room/batchimport" onclick="popFirstWnd(this.id, '批量导入','800','600')">
                批量导入
            </button>
        </div>
    </div>
    <div class="content-table">
        <table class="table">
            <thead>
                <tr>
                    <th width="7%">房间编号</th>
                    <th width="8%">建筑编号</th>
                    <th width="10%">楼层</th>
                    <th width="10%">面积</th>
                    <th width="10%">业主姓名</th>
                    <th width="10%">账户余额</th>
                    <th width="10%">积分</th>
                    <th width="14%">时间</th>
                    <th width="21%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-cloak ng-repeat="item in Items">
                    <td>{{item.RoomNo}}</td>
                    <td>{{item.BuildingNo}}</td>
                    <td>{{item.Floor}}/{{item.Floors}}</td>
                    <td>{{item.Area}}</td>
                    <td>{{item.RealName}}</td>
                    <td>{{item.AccountBalance}}</td>
                    <td>{{item.CreditScore}}</td>
                    <td>{{item.CreateTime|date:"yyyy-MM-dd"}}</td>
                    <td>
                        <button id="btnModify{{$index+1}}" url="room/modify?roomNo={{item.RoomNo}}" onclick="popFirstWnd(this.id, '修改房间信息','800','600')"
                                class="btn btn-warning btn-style">
                            修改
                        </button>
                        <button id="btnDetails{{$index+1}}" url="/room/details?roomNo={{item.RoomNo}}" onclick="popDefaultWnd(this.id, '房间信息详情')"
                                class="btn btn-info btn-style">
                            详情
                        </button>
                        <button type="button" class="btn btn-danger btn-style" ng-click="delete(item.RoomNo)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="width center">
            <div id="page1" class="m-pagination m-center"></div>
        </div>
    </div>
</div>