@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('RoomCtrl', function ($scope, $http) {
        $scope.BuildingNo = "请选择建筑编号";
        getBuildings();
        getInfo();

        // 获取房间信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/rooms/" + getQueryString("roomNo")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
                $scope.BuildingNo = $scope.Item.BuildingNo;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 获取建筑信息列表
        function getBuildings() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/buildings"
            }).success(function (data, status, headers, config) {
                $scope.BuildingItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 选择建筑编号
        $scope.selectBuilding = function (buildingNo) {
            $scope.BuildingNo = buildingNo;
        }

        $('form').on('submit', function (event) {
            var params = {
                "RoomNo": $("#RoomNo").val(),
                "BuildingNo": $scope.BuildingNo,
                "Floor": $("#Floor").val(),
                "Area": $("#Area").val(),
                "Price": $("#Price").val(),
                "RealName": $("#RealName").val(),
                "Phone": $("#Phone").val(),
                "AccountBalance": convertMoney($("#AccountBalance").val()),
                "AccountWarnLimit": convertMoney($("#AccountWarnLimit").val()),
                "CreditScore": $("#CreditScore").val(),
                "AlipayAccount": $("#AlipayAccount").val(),
                "WechatAccount": $("#WechatAccount").val(),
                "BankAccount": $("#BankAccount").val(),
                "Remark": $("#Remark").val()
            };
            $http({
                method: "put",
                withCredentials: true,
                url: "../api/rooms/" + getQueryString("roomNo"),
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("房间信息修改成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../room/list";
                    } else {
                        window.location.href = "../room/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        });
    });
</script>
<div ng-controller="RoomCtrl" class="content-div">
    <form role="form" class="form-div">
        <div class="form-group group-style">
            <label for="RoomNo">房间编号</label>
            <input type="text" class="form-control input-text" id="RoomNo" name="RoomNo" value="{{Item.RoomNo}}" placeholder="请输入房间编号！" required>
        </div>
        <div class="form-group group-style">
            <label>建筑编号选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;height:34px;">
                        {{BuildingNo}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in BuildingItems">
                            <a href="#" ng-click="selectBuilding(item.BuildingNo)">{{item.BuildingNo}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group group-style">
            <label for="Floor">楼层</label>
            <input type="number" min="1" step="1" max="{{Item.Floor}}" class="form-control input-text" id="Floor" name="Floor" value="{{Item.Floor}}" placeholder="请输入楼层！" required>
        </div>
        <div class="form-group group-style">
            <label for="Area">面积</label>
            <input type="number" min="0.00" step="0.01" class="form-control input-text" id="Area" name="Area" value="{{Item.Area}}" placeholder="请输入房间面积！" required>
        </div>
        <div class="form-group group-style">
            <label for="Price">管理费单价</label>
            <input type="number" min="0.00" step="0.01" class="form-control input-text" id="Price" name="Price" value="{{Item.Price}}" placeholder="请输入物业管理费单价！">
        </div>
        <div class="form-group group-style">
            <label for="RealName">业主姓名</label>
            <input type="text" class="form-control input-text" id="RealName" name="RealName" value="{{Item.RealName}}" placeholder="请输入业主姓名！" required>
        </div>
        <div class="form-group group-style">
            <label for="Phone">电话号码</label>
            <input type="tel" class="form-control input-text" id="Phone" name="Phone" value="{{Item.Phone}}" placeholder="请输入电话号码！" required>
        </div>
        <div class="form-group group-style">
            <label for="AccountBalance">账户余额</label>
            <input type="number" min="0.00" step="0.01" class="form-control input-text" id="AccountBalance" name="AccountBalance" value="{{Item.AccountBalance}}"
                   placeholder="请输入账户余额！" required>
        </div>
        <div class="form-group group-style">
            <label for="AccountWarnLimit">账户报警余额</label>
            <input type="number" min="0.00" step="0.01" class="form-control input-text" id="AccountWarnLimit" name="AccountWarnLimit" value="{{Item.AccountWarnLimit}}"
                   placeholder="请输入账户报警余额！">
        </div>
        <div class="form-group group-style">
            <label for="CreditScore">用户积分</label>
            <input type="number" min="0" step="1" class="form-control input-text" id="CreditScore" name="CreditScore" value="{{Item.CreditScore}}"
                   placeholder="请输入用户积分！">
        </div>
        <div class="form-group group-style">
            <label for="AlipayAccount">支付宝账号</label>
            <input type="text" class="form-control input-text" id="AlipayAccount" name="AlipayAccount" value="{{Item.AlipayAccount}}" 
                   placeholder="请输入支付宝账号！">
        </div>
        <div class="form-group group-style">
            <label for="WechatAccount">微信账号</label>
            <input type="text" class="form-control input-text" id="WechatAccount" name="WechatAccount" value="{{Item.WechatAccount}}" 
                   placeholder="请输入微信账号！">
        </div>
        <div class="form-group group-style">
            <label for="BankAccount">银行账号</label>
            <input type="text" class="form-control input-text" id="BankAccount" name="BankAccount" value="{{Item.BankAccount}}" 
                   placeholder="请输入银行账号！">
        </div>
        <div class="form-group group-style">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="3" maxlength="200" class="form-control textarea-text" id="Remark" name="Remark" placeholder="请输入备注！">
                {{Item.Remark}}
            </textarea>
        </div>
        <button class="btn btn-primary btn-style btn-top btn-special" type="submit">修改</button><br />
    </form>
</div>