@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".currency-btn").click(function () {
            $(this).addClass("highLight");
            $(this).siblings().removeClass("highLight");

            var id = $(this).attr("id");
            var index = id.substring(6);
            var div = $("#div" + index);
            div.show();
            div.siblings(".div").hide();
        });
    });

    app.controller('NoticeCtrl', function ($scope, $http) {
        $scope.PageSize = 10;
     
        // 获取切断记录
        var cutoutParams = {
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };
        getCutoutsInfos(cutoutParams, true);
        //
        var msgParams = {
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };
        getMsgsInfos(msgParams, true);

        function getCutoutsInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/cutouts",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.CutoutsItems = data.Items;
                $scope.CutoutsRecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.CutoutsRecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getCutoutsInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getCutoutsInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        function getMsgsInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/msgs",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.MsgsItems = data.Items;
                $scope.MsgsRecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page3").page('destroy');
                    $("#page3").page({
                        total: $scope.MsgsRecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getMsgsInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getMsgsInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<div ng-controller="NoticeCtrl" class="content-div">
    <div style="margin-bottom:10px;">
        <input class="highLight currency-btn" id="mesges2" type="button" name="name" value="投递信息" />
        <input class="currency-btn" id="cutout3" type="button" name="name" value="切断信息" />
        <div class="input-group search-right">
            <button class="search-load" title="导出报表" ng-click="">导出报表</button>
        </div>
    </div>
    <div class="div" id="div2" style="display:block;width:100%;">
        <div class="content-table">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="10%">房间号</th>
                        <th width="10%">业主姓名</th>
                        <th width="10%">联系方式</th>
                        <th width="30%">内容</th>
                        <th width="10%">通知方式</th>
                        <th width="10%">是否发送成功</th>
                        <th width="10%">通知时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak ng-repeat="item in MsgsItems">
                        <td style="padding:8px 8px;">{{item.ID}}</td>
                        <td>{{item.RoomNo}}</td>
                        <td>{{item.RealName}}</td>
                        <td>{{item.Phone}}</td>
                        <td>{{item.Content}}</td>
                        <td>{{item.PostType}}</td>
                        <td><input type="checkbox" ng-checked="{{item.Status}}" disabled="disabled" /></td>
                        <td>{{item.CreateTime|date:"yyyy-MM-dd"}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="width center">
                <div id="page3" class="m-pagination m-center"></div>
            </div>
        </div>
    </div>
    <div class="div" id="div3" style="display:none;width:100%;">
        <div class="content-table">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="10%">设备编号</th>
                        <th width="15%">设备名称</th>
                        <th width="45%">原因</th>
                        <th width="20%">时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak ng-repeat="item in CutoutsItems">
                        <td style="padding:8px 8px;">{{item.ID}}</td>
                        <td>{{item.DeviceNo}}</td>
                        <td>{{item.DeviceName}}</td>
                        <td>{{item.Reason}}</td>
                        <td>{{item.CreateTime|date:"yyyy-MM-dd"}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="width center">
                <div id="page4" class="m-pagination m-center"></div>
            </div>
        </div>
    </div>
</div>