@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('BuildingCtrl', function ($scope, $http) {
        $scope.CommunityName = "请选择小区";
        getInfo();
        getCommunityInfo();

        // 获取小区信息表
        function getCommunityInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/communities"
            }).success(function (data, status, headers, config) {
                $scope.CommunityItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 选择小区类型
        $scope.selectCommunity = function (uuid, typeName) {
            $scope.CommunityID = uuid;
            $scope.CommunityName = typeName;
        }

        // 获取小区类型的建筑信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/buildings/" + getQueryString("buildingNo")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
                $scope.CommunityID = $scope.Item.CommunityID;
                $scope.CommunityName = $scope.Item.CommunityName;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        $('form').on('submit', function (event) {
            var params = {
                "BuildingNo": $("#BuildingNo").val(),
                "Name": $("#Name").val(),
                "CommunityID": $scope.CommunityID,
                "Description": $("#Description").val(),
                "Floors": $("#Floors").val(),
                "Remark": $("#Remark").val()
            };
            $http({
                method: "put",
                withCredentials: true,
                url: "../api/buildings/" + getQueryString("buildingNo"),
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("建筑信息修改成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../Community/list";
                    } else {
                        window.location.href = "../Community/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        });
    });
</script>
<div ng-controller="BuildingCtrl" class="content-third-div">
    <form role="form" class="form-div">
        <div class="form-group">
            <label>小区选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;">
                        {{CommunityName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in CommunityItems">
                            <a href="#" ng-click="selectCommunity(item.UUID,item.Name)">{{item.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group group-style">
            <label for="BuildingNo">建筑编号</label>
            <input type="text" class="form-control input-text" id="BuildingNo" name="BuildingNo" value="{{Item.BuildingNo}}" 
                   placeholder="请输入建筑编号！" disabled>
        </div>
        <div class="form-group group-style">
            <label for="Name">建筑名称</label>
            <input type="text" class="form-control input-text" id="Name" name="Name" value="{{Item.Name}}" placeholder="请输入建筑名称！" required>
        </div>
        <div class="form-group group-style">
            <label for="Floors">楼层总数</label>
            <input type="number" min="1" step="1" max="{{item.Floors}}" class="form-control input-text" id="Floors" name="Floors" value="{{Item.Floors}}" 
                   placeholder="请输入楼层总数！">
        </div>
        <div class="form-group group-style">
            <label for="Description">建筑描述</label>
            <textarea cols="30" rows="3" maxlength="250" class="form-control textarea-text" id="Description" name="Description" placeholder="请输入类型描述！">{{Item.Description}}</textarea>
        </div>
        <div class="form-group group-style">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="3" maxlength="200" class="form-control textarea-text" id="Remark" name="Remark" placeholder="请输入备注！">{{Item.Remark}}</textarea>
        </div>
        <button class="btn btn-primary btn-style btn-top btn-special" ng-click="modify()">修改</button><br />
    </form>
</div>