@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    function submit() {
        var formData = new FormData(document.getElementById("form"));
        $.ajax({
            cache: false,
            type: "POST",
            url: "../api/devices/upload",
            xhrFields: {
                withCredentials: true
            },
            contentType: false,
            processData: false,
            data: formData,
            success: function (data, textStatus, jqXHR) {
                ShowTipsModel("设备数据导入成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../device/list";
                    } else {
                        window.location.href = "../device/list";
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowErrModal("设备数据导入失败！", textStatus);
            }
        });
    }
</script>
<div class="content-third-div">
    <form class="form-horizontal" role="form" id="form">
        <div class="container">
            <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-5 col-xs-offset-1">
                    <label for="upload" class="control-label" style="font-size:14px;padding-top:8px;">请选择文件名称</label>
                </div>
                <div class="col-xs-6">
                    <input type="file" class="form-control" id="upload" name="upload">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox">
                        <label style="font-size:14px;">
                            <input type="checkbox" name="IsDelete">批量导入前，是否删除原来的数据
                        </label>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-4">
                    <button class="btn btn-primary btn-style btn-top" onclick="submit()">提交</button>
                </div>
            </div>
        </div>
    </form>
</div>