@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('DeviceCtrl', function ($scope, $http) {
        getInfo();

        // 获取设备信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devices/" + getQueryString("deviceNo")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
                if ($scope.Item.IsArchive) {
                    $("#IsArchive").attr("checked", "true");
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<style>
    .body > tr > th {
        background:#91c5d4;
        border:1px solid #fff;
    }
    .body > tr > td {
        background:#bcd9e1;
        border:1px solid #fff;
    }
</style>
<div ng-controller="DeviceCtrl" class="content-div">
    <div class="content-table">
        <form role="form">
            <table class="table">
                <thead>
                    <tr>
                        <th width="20%"></th>
                        <th width="20%"></th>
                        <th width="20%"></th>
                        <th width="40%"></th>
                    </tr>
                </thead>
                <tbody class="body" style="font: 13px " lucida grande", helvetica, arial, sans-serif;">
                    <tr class="even">
                        <th>设备编号</th>
                        <td class="big">{{Item.DeviceNo}}</td>
                        <th>房间编号</th>
                        <td class="big">{{Item.RoomNo}}</td>
                    </tr>
                    <tr>
                        <th>设备类型</th>
                        <td class="big">{{Item.TypeName}}</td>
                        <th>归属协议</th>
                        <td class="big">{{Item.Protocol}}</td>
                    </tr>
                    <tr>
                        <th>归属区域</th>
                        <td class="big">{{Item.Scope}}</td>
                        <th>物理地址</th>
                        <td class="big">{{Item.PhyAddr}}</td>
                    </tr>
                    <tr class="even">
                        <th>组ID</th>
                        <td class="big">{{Item.ItemID}}</td>
                        <th>组名称</th>
                        <td class="big">{{Item.ItemName}}</td>
                    </tr>
                    <tr>
                        <th>组描述</th>
                        <td class="big">{{Item.ItemDescription}}</td>
                        <th>设备状态</th>
                        <td class="big">{{Item.Status}}</td>
                    </tr>
                    <tr class="even">
                        <th>转换倍率</th>
                        <td class="big">{{Item.Rate}}</td>
                        <th>单位</th>
                        <td class="big">{{Item.Unit}}</td>
                    </tr>
                    <tr>
                        <th>单价1</th>
                        <td class="big">{{Item.Price1}}</td>
                        <th>单价2</th>
                        <td class="big">{{Item.Price2}}</td>
                    </tr>
                    <tr class="even">
                        <th>单价3</th>
                        <td class="big">{{Item.Price3}}</td>
                        <th>单价4</th>
                        <td class="big">{{Item.Price4}}</td>
                    </tr>
                    <tr>
                        <th>单价5</th>
                        <td class="big">{{Item.Price5}}</td>
                        <th>归档时间间隔</th>
                        <td class="big">{{Item.ArchiveInterval}}</td>
                    </tr>
                    <tr class="even">
                        <th><input type="checkbox" id="IsArchive" name="IsArchive" readonly>是否归档</th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
<tbody>
            </table>
        </form>
    </div>
</div>