@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('DeviceCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "DeviceNo": "",
            "RoomNo": "",
            "ItemID": "",
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        getInfos(params, true);

        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devices",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        $scope.delete = function (deviceNo) {
            ShowConfirmModal("确定要删除该设备吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/devices/" + deviceNo
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("设备删除成功！", function () {
                        getInfos(params, false);
                    });
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };

        // 搜索
        $scope.search = function () {
            params.PageIndex = 1;
            params.DeviceNo = $("#DeviceNo").val();
            params.RoomNo = $("#RoomNo").val();
            params.ItemID = $("#ItemID").val();
            getInfos(params, true);
        };
    });
</script>
<div ng-controller="DeviceCtrl" class="content-div">
    <div class="top-basic">
        <strong>设备一览</strong>
    </div>
    <div class="top-search">
        <div class="search-ctrl font-ctrl">设备编号:</div>
        <div class="search-ctrl"><input type="text" id="DeviceNo" class="form-control input-search"></div>
        <div class="search-ctrl font-ctrl">房间编号:</div>
        <div class="search-ctrl"><input type="text" id="RoomNo" class="form-control input-search"></div>
        <div class="search-ctrl font-ctrl">组ID:</div>
        <div class="search-ctrl"><input type="text" id="ItemID" class="form-control input-search"></div>
        <div class="input-group search-div">
            <button class="search-btn" title="搜索" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="input-group search-right">
            <button title="添加设备" id="btnAdd" url="device/add" onclick="popFirstWnd(this.id, '添加设备','800','527')" class="btn btn-success btn-top">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="search-load" title="批量导入" ng-click="">批量导入</button>
        </div>
    </div>
    <div class="content-table">
        <table class="table">
            <thead>
                <tr>
                    <th width="8%">设备编号</th>
                    <th width="8%">房间编号</th>
                    <th width="8%">设备类型</th>
                    <th width="8%">设备名称</th>
                    <th width="15%">物理地址</th>
                    <th width="8%">组ID</th>
                    <th width="8%">是否归档</th>
                    <th width="10%">归档时间间隔</th>
                    <th width="19%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-cloak ng-repeat="item in Items">
                    <td>{{item.DeviceNo}}</td>
                    <td>{{item.RoomNo}}</td>
                    <td>{{item.TypeName}}</td>
                    <td>{{item.DeviceName}}</td>
                    <td>{{item.PhyAddr}}</td>
                    <td>{{item.ItemID}}</td>
                    <td><input type="checkbox" ng-checked="{{item.IsArchive}}" disabled="disabled" /></td>
                    <td>{{item.ArchiveInterval}}</td>
                    <td>
                        <button id="btnModify{{$index+1}}" url="device/modify?deviceNo={{item.DeviceNo}}" onclick="popFirstWnd(this.id, '修改点位信息','800','527')"
                                class="btn btn-warning btn-style">
                            修改
                        </button>
                        <button id="btnDetails{{$index+1}}" url="device/details?deviceNo={{item.DeviceNo}}" onclick="popFirstWnd(this.id, '详情','800','455')"
                                class="btn btn-info btn-style">
                            详情
                        </button>
                        <button type="button" class="btn btn-danger btn-style" ng-click="delete(item.ID)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="width center">
            <div id="page4" class="m-pagination m-center"></div>
        </div>
    </div>
</div>