@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('DeviceCtrl', function ($scope, $http) {
        $scope.DeviceTypeName = "请选择设备类型";

        getDeviceTypes();
        getInfo();

        // 获取设备类型信息列表
        function getDeviceTypes() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devicetypes"
            }).success(function (data, status, headers, config) {
                $scope.DeviceTypeItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 选择设备类型
        $scope.selectDeviceType = function (uuid, typeName) {
            $scope.DeviceTypeID = uuid;
            $scope.DeviceTypeName = typeName;
        }

        // 获取设备信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/devices/" + getQueryString("deviceNo")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
                $scope.DeviceTypeName = $scope.Item.TypeName;
                if ($scope.Item.IsArchive) {
                    $("#IsArchive").attr("checked", "true");
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 修改设备信息
        $scope.modify = function () {
            var params = {
                "DeviceNo": $("#DeviceNo").val(),
                "RoomNo": $("#RoomNo").val(),
                "TypeID": $scope.DeviceTypeID,
                "Protocol": $("#Protocol").val(),
                "Scope": $("#Scope").val(),
                "DeviceName": $("#DeviceName").val(),
                "PhyAddr": $("#PhyAddr").val(),
                "ItemID": $("#ItemID").val(),
                "ItemName": $("#ItemName").val(),
                "ItemDescription": $("#ItemDescription").val(),
                "Rate": $("#Rate").val(),
                "Unit": $("#Unit").val(),
                "IsArchive": $("#IsArchive").is(":checked"),
                "ArchiveInterval": $("#ArchiveInterval").val()
            };
            $http({
                method: "put",
                withCredentials: true,
                url: "../api/devices/" + getQueryString("deviceNo"),
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("设备信息修改成功！", function () {
                    if (window.parent) { // 如果当前窗口存在父窗口，则在父窗口进行跳转
                        window.parent.location.href = "../device/list";
                    } else {
                        window.location.href = "../device/list";
                    }
                });
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };
    });
</script>
<div ng-controller="DeviceCtrl" class="content-div">
    <form role="form" class="form-div">
        <div class="form-group">
            <label>设备类型选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-size" data-toggle="dropdown" style="border-radius:3px;">
                        {{DeviceTypeName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in DeviceTypeItems">
                            <a href="#" ng-click="selectDeviceType(item.UUID,item.Name)">{{item.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group group-style">
            <label for="DeviceNo">设备编号</label>
            <input type="text" class="form-control input-text" id="DeviceNo" name="DeviceNo" value="{{Item.DeviceNo}}" placeholder="请输入设备编号！">
        </div>
        <div class="form-group group-style">
            <label for="DeviceName">设备名称</label>
            <input type="text" class="form-control input-text" id="DeviceName" name="DeviceName" value="{{Item.DeviceName}}" placeholder="请输入设备名称！">
        </div>
        <div class="form-group group-style">
            <label for="RoomNo">房间编号</label>
            <input type="text" class="form-control input-text" id="RoomNo" name="RoomNo" value="{{Item.RoomNo}}" placeholder="请输入房间编号！">
        </div>
        <div class="form-group group-style">
            <label for="Protocol">归属协议</label>
            <input type="text" class="form-control input-text" id="Protocol" name="Protocol" value="{{Item.Protocol}}" placeholder="请输入归属协议！">
        </div>
        <div class="form-group group-style">
            <label for="Scope">归属区域</label>
            <input type="text" class="form-control input-text" id="Scope" name="Scope" value="{{Item.Scope}}" placeholder="请输入归属区域！">
        </div>
        <div class="form-group group-style">
            <label for="PhyAddr">物理地址</label>
            <input type="text" class="form-control input-text" id="PhyAddr" name="PhyAddr" value="{{Item.PhyAddr}}" placeholder="请输入物理地址！">
        </div>
        <div class="form-group group-style">
            <label for="ItemID">组ID</label>
            <input type="text" class="form-control input-text" id="ItemID" name="ItemID" value="{{Item.ItemID}}" placeholder="请输入组ID！">
        </div>
        <div class="form-group group-style">
            <label for="ItemName">组名称</label>
            <input type="text" class="form-control input-text" id="ItemName" name="ItemName" value="{{Item.ItemName}}" placeholder="请输入组名称！">
        </div>
        <div class="form-group group-style">
            <label for="ItemDescription">组描述</label>
            <textarea cols="30" rows="3" class="form-control textarea-text" id="ItemDescription" name="ItemDescription" placeholder="请输入组描述！">
                {{Item.ItemDescription}}
            </textarea>
        </div>
        <div class="form-group group-style">
            <label for="Rate">转换倍率</label>
            <input type="text" class="form-control input-text" id="Rate" name="Rate" value="{{Item.Rate}}" placeholder="请输入值的转换倍率！">
        </div>
        <div class="form-group group-style">
            <label for="Unit">单位</label>
            <input type="text" class="form-control input-text" id="Unit" name="Unit" value="{{Item.Unit}}" placeholder="请输入单位！">
        </div>
        <div class="form-group group-style">
            <label for="ArchiveInterval">归档时间间隔</label>
            <input type="text" class="form-control input-text" id="ArchiveInterval" name="ArchiveInterval" value="{{Item.ArchiveInterval}}"
                   placeholder="请输入归档时间间隔！">
        </div>
        <div class="form-group group-style checkbox">
            <label for="IsArchive"><input type="checkbox" id="IsArchive" name="IsArchive">是否归档</label>
        </div>
    </form>
    <button class="btn btn-primary btn-style btn-top btn-special" ng-click="modify()">修改</button><br />
</div>