@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('UserCtrl', function ($scope, $http) {
        getInfo();

        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/users/" + getQueryString("uuid")
            }).success(function (data, status, headers, config) {
                $scope.Item = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<div ng-controller="UserCtrl" class="content-div" style="margin:50px 80px;">
    <form role="form">
        <table class="point-table">
            <thead style="height:0;">
                <tr>
                    <th width="20%"></th>
                    <th width="20%"></th>
                    <th width="25%"></th>
                    <th width="35%"></th>
                </tr>
            </thead>
            <tbody class="body">
                <tr>
                    <td>业主姓名</td>
                    <td class="big">{{Item.RealName}}</td>
                    <td>电话号码</td>
                    <td class="big">{{Item.Phone}}</td>
                </tr>
                <tr class="even">
                    <td>地址</td>
                    <td class="big">{{Item.Address}}</td>
                    <td>建筑编号</td>
                    <td class="big">{{Item.BuildingNo}}</td>
                </tr>
                <tr>
                    <td>建筑名称</td>
                    <td class="big">{{Item.BuildingName}}</td>
                    <td>楼层总数</td>
                    <td class="big">{{Item.FloorCount}}</td>
                </tr>
                <tr class="even">
                    <td>楼层</td>
                    <td class="big">{{Item.Floor}}</td>
                    <td>房号</td>
                    <td class="big">{{Item.RoomNo}}</td>
                </tr>
                <tr>
                    <td>账户余额</td>
                    <td class="big">{{Item.AccountBalance}}</td>
                    <td>账户报警余额</td>
                    <td class="big">{{Item.AccountWarnLimit}}</td>
                </tr>
                <tr class="even">
                    <td>用户积分</td>
                    <td class="big">{{Item.CreditScore}}</td>
                    <td>支付宝账号</td>
                    <td class="big">{{Item.AlipayAccount}}</td>
                </tr>
                <tr>
                    <td>微信账号</td>
                    <td class="big">{{Item.WechatAccount}}</td>
                    <td>银行账号</td>
                    <td class="big">{{Item.BankAccount}}</td>
                </tr>
                <tr class="even">
                    <td>备注</td>
                    <td class="big">{{Item.Remark}}</td>
                </tr>
            <tbody>
        </table>
    </form>
</div>