@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    app.controller('CommunityCtrl', function ($scope, $http) {
        getInfo();

        // 获取小区信息
        function getInfo() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/Communities"
            }).success(function (data, status, headers, config) {
                if (data.Items.length > 0) {
                    $scope.HasItem = true;
                    $scope.Item = data.Items[0];
                } else {
                    $scope.HasItem = false;
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<div ng-controller="CommunityCtrl">
    <div>
    <div ng-if="!HasItem">
        <button type="button" class="btn btn-danger btn-style">
            添加
        </button>
    </div>
    <div ng-if="HasItem">
        <!--<form role="form">
            <div class="form-group">
                <label for="Name">小区名称</label>
                <input type="text" class="form-control input-text" id="Name" name="Name" value="{{Item.Name}}" placeholder="请输入小区名称！">
            </div>
            <div class="form-group">
                <label for="Description">小区描述</label>
                <textarea cols="30" rows="3" class="form-control textarea-text" id="Description" name="Description" placeholder="请输入小区描述！"></textarea>
            </div>
            <div class="form-group">
                <label for="Address">小区地址</label>
                <input type="text" class="form-control input-text" min="0" id="Address" name="Address" placeholder="请输入小区地址！">
            </div>
            <div class="form-group">
                <label for="Area">小区面积</label>
                <input type="text" class="form-control input-text" min="0" id="Area" name="Area" placeholder="请输入小区面积！">
            </div>
            <div class="form-group">
                <label for="Capacity">小区总住户</label>
                <input type="text" class="form-control input-text" id="Capacity" name="Capacity" placeholder="请输入小区总住户！">
            </div>
            <div class="form-group">
                <label for="CheckInTime">小区入住时间</label>
                <input type="text" class="form-control input-text" id="CheckInTime" name="CheckInTime" placeholder="请输入入住时间！">
            </div>
            <div class="form-group">
                <label for="Remark">备注</label>
                <textarea cols="30" rows="3" class="form-control textarea-text" id="Remark" name="Remark" placeholder="请输入备注！"></textarea>
            </div>
        </form>-->
        
        <table>
            <tr>
                <td>小区名称</td>
                <td>{{Item.Name}}</td>
                <td>小区入住时间</td>
                <td>{{Item.CheckInTime}}</td>
            </tr>
            <tr>
                <td>总住户</td>
                <td>{{Item.Capacity}}</td>
                <td>小区面积</td>
                <td>{{Item.Area}}</td>
            </tr>
            <tr>
                <td>小区地址</td>
                <td>{{Item.Address}}</td>
                
            </tr>
            <tr>
                <td>小区描述</td>
                <td>{{Item.Description}}</td>
            </tr>
        </table>
        <div class="form-group">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="3" class="form-control textarea-text" id="Remark" name="Remark" placeholder="请输入备注！"></textarea>
        </div>
        <button type="button" class="btn btn-danger btn-style">
            修改
        </button>
    </div>
        </div>
    <div>建筑信息</div>
</div>